In [1]:
import pandas as pd
import gmaps

In [2]:
gmaps.configure(api_key="AIzaSyBc6ZAVMRUiGV3hVt1wcO0m2QB8ogxbEiU")

In [3]:
data = pd.read_csv('Texas_Counties_Centroid_Map.csv')
counts = pd.read_csv('heatmap.csv')

In [4]:
data.head()

     X (Lat)   Y (Long)  CNTY_NM   FIPS  Shape_Leng  Shape_Area
0 -97.515000  26.138477  Cameron  48061    6.776491    0.237848
1 -97.643033  26.471329  Willacy  48489    3.324169    0.155451
2 -98.738349  26.562126    Starr  48427    2.600375    0.288492
3 -98.180887  26.396627  Hidalgo  48215    3.310210    0.370852
4 -98.218741  27.031567   Brooks  48047    2.056815    0.222311

In [5]:
counts.head()

     County  Incident Count
0      BELL            3248
1     BEXAR             360
2  BRAZORIA            2656
3  BREWSTER              61
4    BURNET             290

In [6]:
data['CNTY_NM'] = data['CNTY_NM'].str.upper()

In [7]:
data.head()

     X (Lat)   Y (Long)  CNTY_NM   FIPS  Shape_Leng  Shape_Area
0 -97.515000  26.138477  CAMERON  48061    6.776491    0.237848
1 -97.643033  26.471329  WILLACY  48489    3.324169    0.155451
2 -98.738349  26.562126    STARR  48427    2.600375    0.288492
3 -98.180887  26.396627  HIDALGO  48215    3.310210    0.370852
4 -98.218741  27.031567   BROOKS  48047    2.056815    0.222311

In [9]:
heatmap =pd.merge(data, counts, how = 'left', left_on='CNTY_NM', right_on='County')

In [10]:
heatmap.head()

,X (Lat),Y (Long),CNTY_NM,FIPS,Shape_Leng,Shape_Area,County,Incident Count
0,-97.515000,26.138477,CAMERON,48061,6.776491,0.237848,CAMERON,2.0
1,-97.643033,26.471329,WILLACY,48489,3.324169,0.155451,WILLACY,103.0
2,-98.738349,26.562126,STARR,48427,2.600375,0.288492,STARR,30.0
3,-98.180887,26.396627,HIDALGO,48215,3.310210,0.370852,HIDALGO,290.0
4,-98.218741,27.031567,BROOKS,48047,2.056815,0.222311,NaN,NaN

In [13]:
heatmap.drop(['CNTY_NM','FIPS','Shape_Leng','Shape_Area'], axis=1, inplace=True)
heatmap.head()

     X (Lat)   Y (Long)   County  Incident Count
0 -97.515000  26.138477  CAMERON             2.0
1 -97.643033  26.471329  WILLACY           103.0
2 -98.738349  26.562126    STARR            30.0
3 -98.180887  26.396627  HIDALGO           290.0
4 -98.218741  27.031567      NaN             NaN

In [15]:
locations = heatmap[['X (Lat)', 'Y (Long)']]
weights = heatmap['Incident Count']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

InvalidPointException: -97.51499968 is not a valid latitude. Latitudes must lie between -90 and 90.