# Intelligent Model: Random Forest Classifier

In [1]:
import pandas as pd

### Read in query outputs to dataframes

In [2]:
crime_df = pd.read_csv('crime_query.csv')
label_df = pd.read_csv('label_query.csv')
h_df = pd.read_csv('hosp_query.csv')
f_df = pd.read_csv('fire_query.csv')
pop_df = pd.read_csv('census_populations.csv')

In [3]:
crime_df.head().T

,0,1,2,3,4
incident_id,67693343,67693344,67693345,67693346,67693348
year,2013,2013,2013,2013,2013
age_num,46,57,51,24,49
victim_sex,F,M,F,M,M
crime_against,Property,Property,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle,All Other Larceny,Burglary/Breaking & Entering
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Burglary/Breaking & Entering
location_id,20,18,18,5,20
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage,Commercial/Office Building,Residence/Home
county,POTTER,POTTER,POTTER,POTTER,POTTER
population_description,"Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000"
officers,343,343,343,343,343
civilians,68,68,68,68,68

### Get crime count by county and join to crime_df

In [4]:
tmp_df4 = crime_df.groupby(['county']).incident_id.agg('count')
tmp_df4 = tmp_df4.to_frame().reset_index()
tmp_df4 = tmp_df4.rename({'incident_id': 'crime_cnt'}, axis='columns')
tmp_df4

         county  crime_cnt
0          BELL      10240
1         BEXAR         35
2      BRAZORIA       9487
3      BREWSTER         61
4        BURNET       1303
5       CALHOUN       1634
6       CAMERON          3
7      CHEROKEE        396
8          COKE          2
9        COLLIN      55442
10       DALLAS      13648
11      DE WITT        675
12       DENTON      30263
13       GOLIAD        520
14      GRAYSON       1356
15        GREGG      16945
16     HARDEMAN         43
17       HARDIN       1237
18       HARRIS       3542
19      HIDALGO         24
20         HUNT        318
21      JACKSON        926
22      JOHNSON       4792
23      KAUFMAN       8007
24       LAVACA        453
25         LEON         16
26        LLANO        233
27      LUBBOCK       4204
28     MCLENNAN       3440
29        MILAM         24
30   MONTGOMERY       7821
31  NACOGDOCHES       2644
32        NOLAN        869
33       PARKER       1737
34         POLK       4734
35       POTTER      47721
36     ROCKWALL       5351
37         RUSK       5918
38     SAN SABA        243
39        SMITH      19368
40      TARRANT     152225
41    TOM GREEN      22908
42       TRAVIS        785
43     VICTORIA      15109
44      WHARTON       1939
45      WICHITA        587
46      WILLACY         59
47   WILLIAMSON       3695
48       ZAVALA        113

In [5]:
crime_df = crime_df.join(tmp_df4.set_index('county'), on='county')

In [6]:
crime_df.head().T

,0,1,2,3,4
incident_id,67693343,67693344,67693345,67693346,67693348
year,2013,2013,2013,2013,2013
age_num,46,57,51,24,49
victim_sex,F,M,F,M,M
crime_against,Property,Property,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle,All Other Larceny,Burglary/Breaking & Entering
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Burglary/Breaking & Entering
location_id,20,18,18,5,20
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage,Commercial/Office Building,Residence/Home
county,POTTER,POTTER,POTTER,POTTER,POTTER
population_description,"Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000"
officers,343,343,343,343,343
civilians,68,68,68,68,68
crime_cnt,47721,47721,47721,47721,47721

### Get hospital and bed counts by county and join to h_df

In [7]:
h_df.head()

     county   hosp_id    beds
0    HARRIS  25577030  1082.0
1     JONES   3379501    45.0
2    COLLIN    475013    73.0
3    POTTER    679106   451.0
4  BRAZORIA   1177515    64.0

In [8]:
h_df['beds'] = h_df['beds'].clip_lower(1)

In [9]:
tmp_df = h_df.groupby(['county']).hosp_id.agg('count')
tmp_df = tmp_df.to_frame().reset_index()
tmp_df = tmp_df.rename({'hosp_id': 'hosp_cnt'}, axis='columns')
tmp_df

           county  hosp_cnt
0        ANDERSON         1
1         ANDREWS         1
2        ANGELINA         2
3        ATASCOSA         1
4          AUSTIN         1
5          BAILEY         1
6         BASTROP         1
7          BAYLOR         1
8             BEE         1
9            BELL         7
10          BEXAR        33
11         BOSQUE         1
12          BOWIE         2
13       BRAZORIA         5
14         BRAZOS         4
15       BREWSTER         1
16          BROWN         1
17       BURLESON         1
18         BURNET         2
19       CALDWELL         1
20        CALHOUN         1
21        CAMERON         6
22           CAMP         1
23           CASS         2
24         CASTRO         1
25       CHAMBERS         2
26       CHEROKEE         2
27      CHILDRESS         1
28           CLAY         1
29        COCHRAN         1
..            ...       ...
161       TARRANT        32
162        TAYLOR         2
163         TERRY         1
164  THROCKMORTON         1
165         TITUS         1
166     TOM GREEN         3
167        TRAVIS        15
168       TRINITY         1
169         TYLER         1
170        UPSHUR         1
171         UPTON         3
172        UVALDE         1
173     VAL VERDE         1
174     VAN ZANDT         1
175      VICTORIA         3
176        WALKER         1
177          WARD         1
178    WASHINGTON         1
179          WEBB         2
180       WHARTON         2
181       WHEELER         2
182       WICHITA         3
183     WILBARGER         1
184    WILLIAMSON         8
185        WILSON         1
186       WINKLER         1
187          WISE         2
188          WOOD         2
189        YOAKUM         1
190         YOUNG         2

[191 rows x 2 columns]

In [10]:
tmp_df2 = h_df.groupby(['county']).beds.agg('sum')
tmp_df2 = tmp_df2.to_frame().reset_index()
tmp_df2 = tmp_df2.rename({'beds': 'bed_cnt'}, axis='columns')
tmp_df2

           county  bed_cnt
0        ANDERSON     86.0
1         ANDREWS     34.0
2        ANGELINA    420.0
3        ATASCOSA     67.0
4          AUSTIN     32.0
5          BAILEY     25.0
6         BASTROP      8.0
7          BAYLOR     49.0
8             BEE     69.0
9            BELL    896.0
10          BEXAR   6865.0
11         BOSQUE     25.0
12          BOWIE    682.0
13       BRAZORIA    357.0
14         BRAZOS    537.0
15       BREWSTER     25.0
16          BROWN    194.0
17       BURLESON     25.0
18         BURNET     71.0
19       CALDWELL     25.0
20        CALHOUN     25.0
21        CAMERON   1249.0
22           CAMP     25.0
23           CASS     68.0
24         CASTRO     17.0
25       CHAMBERS     39.0
26       CHEROKEE     99.0
27      CHILDRESS     39.0
28           CLAY     25.0
29        COCHRAN     18.0
..            ...      ...
161       TARRANT   5442.0
162        TAYLOR    753.0
163         TERRY     45.0
164  THROCKMORTON     14.0
165         TITUS    164.0
166     TOM GREEN    534.0
167        TRAVIS   2712.0
168       TRINITY     45.0
169         TYLER     49.0
170        UPSHUR     37.0
171         UPTON     44.0
172        UVALDE     25.0
173     VAL VERDE     93.0
174     VAN ZANDT     52.0
175      VICTORIA    648.0
176        WALKER    123.0
177          WARD     25.0
178    WASHINGTON     60.0
179          WEBB    506.0
180       WHARTON    210.0
181       WHEELER     41.0
182       WICHITA    391.0
183     WILBARGER     47.0
184    WILLIAMSON    690.0
185        WILSON     44.0
186       WINKLER     19.0
187          WISE    135.0
188          WOOD     50.0
189        YOAKUM     24.0
190         YOUNG     67.0

[191 rows x 2 columns]

In [11]:
h_df = tmp_df.join(tmp_df2.set_index('county'), on='county')
h_df

           county  hosp_cnt  bed_cnt
0        ANDERSON         1     86.0
1         ANDREWS         1     34.0
2        ANGELINA         2    420.0
3        ATASCOSA         1     67.0
4          AUSTIN         1     32.0
5          BAILEY         1     25.0
6         BASTROP         1      8.0
7          BAYLOR         1     49.0
8             BEE         1     69.0
9            BELL         7    896.0
10          BEXAR        33   6865.0
11         BOSQUE         1     25.0
12          BOWIE         2    682.0
13       BRAZORIA         5    357.0
14         BRAZOS         4    537.0
15       BREWSTER         1     25.0
16          BROWN         1    194.0
17       BURLESON         1     25.0
18         BURNET         2     71.0
19       CALDWELL         1     25.0
20        CALHOUN         1     25.0
21        CAMERON         6   1249.0
22           CAMP         1     25.0
23           CASS         2     68.0
24         CASTRO         1     17.0
25       CHAMBERS         2     39.0
26       CHEROKEE         2     99.0
27      CHILDRESS         1     39.0
28           CLAY         1     25.0
29        COCHRAN         1     18.0
..            ...       ...      ...
161       TARRANT        32   5442.0
162        TAYLOR         2    753.0
163         TERRY         1     45.0
164  THROCKMORTON         1     14.0
165         TITUS         1    164.0
166     TOM GREEN         3    534.0
167        TRAVIS        15   2712.0
168       TRINITY         1     45.0
169         TYLER         1     49.0
170        UPSHUR         1     37.0
171         UPTON         3     44.0
172        UVALDE         1     25.0
173     VAL VERDE         1     93.0
174     VAN ZANDT         1     52.0
175      VICTORIA         3    648.0
176        WALKER         1    123.0
177          WARD         1     25.0
178    WASHINGTON         1     60.0
179          WEBB         2    506.0
180       WHARTON         2    210.0
181       WHEELER         2     41.0
182       WICHITA         3    391.0
183     WILBARGER         1     47.0
184    WILLIAMSON         8    690.0
185        WILSON         1     44.0
186       WINKLER         1     19.0
187          WISE         2    135.0
188          WOOD         2     50.0
189        YOAKUM         1     24.0
190         YOUNG         2     67.0

[191 rows x 3 columns]

### Get fire station count by county and join to f_df

In [12]:
f_df.head()

    county   fire_id
0  EL PASO  10410064
1  EL PASO  10410225
2  EL PASO  10139838
3  EL PASO  10139423
4  EL PASO  10410065

In [13]:
tmp_df3 = f_df.groupby(['county']).fire_id.agg('count')
tmp_df3 = tmp_df3.to_frame().reset_index()
tmp_df3 = tmp_df3.rename({'fire_id': 'fire_cnt'}, axis='columns')
tmp_df3

         county  fire_cnt
0      ANDERSON        21
1       ANDREWS         1
2      ANGELINA        18
3       ARANSAS         5
4        ARCHER         7
5     ARMSTRONG         2
6      ATASCOSA         2
7        AUSTIN         5
8        BAILEY         1
9       BANDERA         6
10      BASTROP        11
11       BAYLOR         1
12          BEE         6
13         BELL        33
14        BEXAR        88
15       BLANCO         3
16       BORDEN         1
17       BOSQUE        11
18        BOWIE        20
19     BRAZORIA        32
20       BRAZOS        21
21     BREWSTER         3
22      BRISCOE         2
23       BROOKS         1
24        BROWN        12
25     BURLESON         8
26       BURNET        10
27     CALDWELL        13
28      CALHOUN         7
29     CALLAHAN         6
..          ...       ...
219       TITUS         5
220   TOM GREEN        18
221      TRAVIS        76
222     TRINITY         2
223       TYLER         6
224      UPSHUR         9
225       UPTON         1
226      UVALDE         4
227   VAL VERDE         9
228   VAN ZANDT        12
229    VICTORIA        18
230      WALKER        10
231      WALLER        10
232        WARD         3
233  WASHINGTON         6
234        WEBB        17
235     WHARTON         4
236     WHEELER         6
237     WICHITA        20
238   WILBARGER         2
239     WILLACY         2
240  WILLIAMSON        31
241      WILSON        10
242     WINKLER         2
243        WISE        19
244        WOOD        10
245      YOAKUM         2
246       YOUNG         6
247      ZAPATA         3
248      ZAVALA         1

[249 rows x 2 columns]

### Merge hospital dataframe and fire station dataframe

In [14]:
hf_df = tmp_df3.join(h_df.set_index('county'), on='county')
hf_df

         county  fire_cnt  hosp_cnt  bed_cnt
0      ANDERSON        21       1.0     86.0
1       ANDREWS         1       1.0     34.0
2      ANGELINA        18       2.0    420.0
3       ARANSAS         5       NaN      NaN
4        ARCHER         7       NaN      NaN
5     ARMSTRONG         2       NaN      NaN
6      ATASCOSA         2       1.0     67.0
7        AUSTIN         5       1.0     32.0
8        BAILEY         1       1.0     25.0
9       BANDERA         6       NaN      NaN
10      BASTROP        11       1.0      8.0
11       BAYLOR         1       1.0     49.0
12          BEE         6       1.0     69.0
13         BELL        33       7.0    896.0
14        BEXAR        88      33.0   6865.0
15       BLANCO         3       NaN      NaN
16       BORDEN         1       NaN      NaN
17       BOSQUE        11       1.0     25.0
18        BOWIE        20       2.0    682.0
19     BRAZORIA        32       5.0    357.0
20       BRAZOS        21       4.0    537.0
21     BREWSTER         3       1.0     25.0
22      BRISCOE         2       NaN      NaN
23       BROOKS         1       NaN      NaN
24        BROWN        12       1.0    194.0
25     BURLESON         8       1.0     25.0
26       BURNET        10       2.0     71.0
27     CALDWELL        13       1.0     25.0
28      CALHOUN         7       1.0     25.0
29     CALLAHAN         6       NaN      NaN
..          ...       ...       ...      ...
219       TITUS         5       1.0    164.0
220   TOM GREEN        18       3.0    534.0
221      TRAVIS        76      15.0   2712.0
222     TRINITY         2       1.0     45.0
223       TYLER         6       1.0     49.0
224      UPSHUR         9       1.0     37.0
225       UPTON         1       3.0     44.0
226      UVALDE         4       1.0     25.0
227   VAL VERDE         9       1.0     93.0
228   VAN ZANDT        12       1.0     52.0
229    VICTORIA        18       3.0    648.0
230      WALKER        10       1.0    123.0
231      WALLER        10       NaN      NaN
232        WARD         3       1.0     25.0
233  WASHINGTON         6       1.0     60.0
234        WEBB        17       2.0    506.0
235     WHARTON         4       2.0    210.0
236     WHEELER         6       2.0     41.0
237     WICHITA        20       3.0    391.0
238   WILBARGER         2       1.0     47.0
239     WILLACY         2       NaN      NaN
240  WILLIAMSON        31       8.0    690.0
241      WILSON        10       1.0     44.0
242     WINKLER         2       1.0     19.0
243        WISE        19       2.0    135.0
244        WOOD        10       2.0     50.0
245      YOAKUM         2       1.0     24.0
246       YOUNG         6       2.0     67.0
247      ZAPATA         3       NaN      NaN
248      ZAVALA         1       NaN      NaN

[249 rows x 4 columns]

### Join to training dataframe

In [15]:
train_df = crime_df.join(hf_df.set_index('county'), on='county')

In [16]:
train_df.head(3).T

,0,1,2
incident_id,67693343,67693344,67693345
year,2013,2013,2013
age_num,46,57,51
victim_sex,F,M,F
crime_against,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses
location_id,20,18,18
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage
county,POTTER,POTTER,POTTER
population_description,"Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000"
officers,343,343,343
civilians,68,68,68
crime_cnt,47721,47721,47721
fire_cnt,12,12,12
hosp_cnt,5,5,5
bed_cnt,878,878,878

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463095 entries, 0 to 463094
Data columns (total 17 columns):
incident_id               463095 non-null int64
year                      463095 non-null int64
age_num                   456081 non-null float64
victim_sex                463095 non-null object
crime_against             463095 non-null object
offense                   463095 non-null object
offense_category          463095 non-null object
location_id               463095 non-null int64
location_name             463095 non-null object
county                    463095 non-null object
population_description    463095 non-null object
officers                  463095 non-null int64
civilians                 463095 non-null int64
crime_cnt                 463095 non-null int64
fire_cnt                  463095 non-null int64
hosp_cnt                  461467 non-null float64
bed_cnt                   461467 non-null float64
dtypes: float64(3), int64(7), object(7)
memory usage: 60.1+ MB

### Get crime count by county for label_df

In [18]:
tmp_df5 = label_df.groupby(['county']).incident_id.agg('count')
tmp_df5 = tmp_df5.to_frame().reset_index()
tmp_df5 = tmp_df5.rename({'incident_id': 'crime_cnt'}, axis='columns')
tmp_df5

          county  crime_cnt
0           BELL       3348
1          BEXAR        400
2       BRAZORIA       3043
3       BREWSTER         70
4         BURNET        343
5        CALHOUN        772
6        CAMERON          2
7         COLLIN      16937
8        CORYELL        115
9         DALLAS       4417
10       DE WITT        314
11        DENTON      11042
12        GOLIAD        200
13         GREGG       5629
14      HARDEMAN         63
15        HARDIN        387
16        HARRIS       1208
17       HIDALGO        301
18          HUNT        110
19    HUTCHINSON        363
20       JACKSON        315
21     JEFFERSON        180
22       JOHNSON       1372
23       KAUFMAN       2896
24       KENDALL        293
25         LAMAR         91
26      LAMPASAS        150
27        LAVACA        129
28          LEON         37
29       LUBBOCK       1436
30       MADISON         31
31      MCLENNAN       2131
32         MILAM         32
33    MONTGOMERY       3019
34   NACOGDOCHES       2491
35     OCHILTREE         50
36        PARKER       1676
37          POLK        808
38        POTTER      16830
39       RANDALL        104
40      ROCKWALL       1715
41          RUSK       2228
42  SAN PATRICIO        428
43      SAN SABA         49
44        SHELBY         28
45         SMITH       6313
46         STARR         32
47       TARRANT      50111
48     TOM GREEN       9119
49        TRAVIS        490
50      VICTORIA       4920
51        WALKER        869
52       WHARTON        772
53       WICHITA        149
54       WILLACY        116
55    WILLIAMSON       1617
56          WISE        208
57         YOUNG         33
58        ZAVALA        218

### Join to testing dataframe

In [19]:
label_df = label_df.join(tmp_df5.set_index('county'), on='county')

In [20]:
label_df.head().T

,0,1,2,3,4
incident_id,87264241,87264244,87264248,87264256,87264264
year,2016,2016,2016,2016,2016
age_num,59,50,26,25,26
victim_sex,F,M,F,F,M
crime_against,Property,Property,Property,Person,Property
offense,Theft From Motor Vehicle,Credit Card/Automated Teller Machine Fraud,All Other Larceny,Simple Assault,All Other Larceny
offense_category,Larceny/Theft Offenses,Fraud Offenses,Larceny/Theft Offenses,Assault Offenses,Larceny/Theft Offenses
location_id,18,20,20,20,20
location_name,Parking/Drop Lot/Garage,Residence/Home,Residence/Home,Residence/Home,Residence/Home
county,BURNET,BURNET,BURNET,CAMERON,CAMERON
population_description,"Cities from 2,500 thru 9,999","Cities from 2,500 thru 9,999","Cities from 2,500 thru 9,999","Cities under 2,500","Cities under 2,500"
officers,19,19,19,2,2
civilians,13,13,13,0,0
crime_cnt,343,343,343,2,2

### Join hospital and fire station counts to testing dataframe

In [21]:
test_df = label_df.join(hf_df.set_index('county'), on='county')

In [22]:
test_df.head(3).T

,0,1,2
incident_id,87264241,87264244,87264248
year,2016,2016,2016
age_num,59,50,26
victim_sex,F,M,F
crime_against,Property,Property,Property
offense,Theft From Motor Vehicle,Credit Card/Automated Teller Machine Fraud,All Other Larceny
offense_category,Larceny/Theft Offenses,Fraud Offenses,Larceny/Theft Offenses
location_id,18,20,20
location_name,Parking/Drop Lot/Garage,Residence/Home,Residence/Home
county,BURNET,BURNET,BURNET
population_description,"Cities from 2,500 thru 9,999","Cities from 2,500 thru 9,999","Cities from 2,500 thru 9,999"
officers,19,19,19
civilians,13,13,13
crime_cnt,343,343,343
fire_cnt,10,10,10
hosp_cnt,2,2,2
bed_cnt,71,71,71

In [23]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162550 entries, 0 to 162549
Data columns (total 17 columns):
incident_id               162550 non-null int64
year                      162550 non-null int64
age_num                   160057 non-null float64
victim_sex                162550 non-null object
crime_against             162550 non-null object
offense                   162550 non-null object
offense_category          162550 non-null object
location_id               162550 non-null int64
location_name             162550 non-null object
county                    162550 non-null object
population_description    162550 non-null object
officers                  162550 non-null int64
civilians                 162550 non-null int64
crime_cnt                 162550 non-null int64
fire_cnt                  162550 non-null int64
hosp_cnt                  161323 non-null float64
bed_cnt                   161323 non-null float64
dtypes: float64(3), int64(7), object(7)
memory usage: 21.1+ MB

### Bring in population feature

In [24]:
pop_df.head()

     county  year  population
0  Anderson  2010       58477
1  Anderson  2010       58477
2  Anderson  2010       58477
3  Anderson  2010       58477
4  Anderson  2011       58379

In [25]:
pop_df['county'] = pop_df['county'].str.upper()

In [26]:
pop_df.head()

     county  year  population
0  ANDERSON  2010       58477
1  ANDERSON  2010       58477
2  ANDERSON  2010       58477
3  ANDERSON  2010       58477
4  ANDERSON  2011       58379

In [27]:
train_df =pd.merge(train_df, pop_df, how = 'outer', on=['county','year'])
train_df

,incident_id,year,age_num,victim_sex,crime_against,offense,offense_category,location_id,location_name,county,population_description,officers,civilians,crime_cnt,fire_cnt,hosp_cnt,bed_cnt,population
0,67693343.0,2013,46.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
1,67693343.0,2013,46.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
2,67693344.0,2013,57.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
3,67693344.0,2013,57.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
4,67693345.0,2013,51.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
5,67693345.0,2013,51.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
6,67693346.0,2013,24.0,M,Property,All Other Larceny,Larceny/Theft Offenses,5.0,Commercial/Office Building,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
7,67693346.0,2013,24.0,M,Property,All Other Larceny,Larceny/Theft Offenses,5.0,Commercial/Office Building,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
8,67693348.0,2013,49.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
9,67693348.0,2013,49.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
10,67693350.0,2013,26.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
11,67693350.0,2013,26.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
12,67693351.0,2013,44.0,F,Property,All Other Larceny,Larceny/Theft Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
13,67693351.0,2013,44.0,F,Property,All Other Larceny,Larceny/Theft Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
14,67693352.0,2013,62.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
15,67693352.0,2013,62.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
16,67693353.0,2013,18.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
17,67693353.0,2013,18.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
18,67693353.0,2013,51.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
19,67693353.0,2013,51.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
20,67693354.0,2013,36.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
21,67693354.0,2013,36.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
22,67693355.0,2013,68.0,F,Property,Motor Vehicle Theft,Motor Vehicle Theft,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
23,67693355.0,2013,68.0,F,Property,Motor Vehicle Theft,Motor Vehicle Theft,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
24,67693357.0,2013,32.0,F,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
25,67693357.0,2013,32.0,F,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
26,67693358.0,2013,50.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
27,67693358.0,2013,50.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
28,67693359.0,2013,29.0,M,Person,Aggravated Assault,Assault Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
29,67693359.0,2013,29.0,M,Person,Aggravated Assault,Assault Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929638,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60398.0
929639,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60398.0
929640,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61008.0
929641,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61008.0
929642,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61715.0
929643,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61715.0
929644,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62864.0
929645,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62864.0
929646,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64465.0
929647,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64465.0
929648,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66181.0
929649,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66181.0
929650,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41974.0
929651,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41974.0
929652,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41974.0
929653,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41974.0
929654,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42140.0
929655,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42140.0
929656,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42444.0
929657,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42444.0
929658,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42401.0
929659,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42401.0
929660,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42818.0
929661,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42818.0
929662,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43220.0
929663,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43220.0
929664,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43823.0
929665,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43823.0
929666,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44314.0
929667,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44314.0

In [28]:
train_df.dropna(axis=0, subset=['incident_id'], inplace=True)

In [29]:
train_df

,incident_id,year,age_num,victim_sex,crime_against,offense,offense_category,location_id,location_name,county,population_description,officers,civilians,crime_cnt,fire_cnt,hosp_cnt,bed_cnt,population
0,67693343.0,2013,46.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
1,67693343.0,2013,46.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
2,67693344.0,2013,57.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
3,67693344.0,2013,57.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
4,67693345.0,2013,51.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
5,67693345.0,2013,51.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
6,67693346.0,2013,24.0,M,Property,All Other Larceny,Larceny/Theft Offenses,5.0,Commercial/Office Building,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
7,67693346.0,2013,24.0,M,Property,All Other Larceny,Larceny/Theft Offenses,5.0,Commercial/Office Building,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
8,67693348.0,2013,49.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
9,67693348.0,2013,49.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
10,67693350.0,2013,26.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
11,67693350.0,2013,26.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
12,67693351.0,2013,44.0,F,Property,All Other Larceny,Larceny/Theft Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
13,67693351.0,2013,44.0,F,Property,All Other Larceny,Larceny/Theft Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
14,67693352.0,2013,62.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
15,67693352.0,2013,62.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
16,67693353.0,2013,18.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
17,67693353.0,2013,18.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
18,67693353.0,2013,51.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
19,67693353.0,2013,51.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
20,67693354.0,2013,36.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
21,67693354.0,2013,36.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
22,67693355.0,2013,68.0,F,Property,Motor Vehicle Theft,Motor Vehicle Theft,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
23,67693355.0,2013,68.0,F,Property,Motor Vehicle Theft,Motor Vehicle Theft,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
24,67693357.0,2013,32.0,F,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
25,67693357.0,2013,32.0,F,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
26,67693358.0,2013,50.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
27,67693358.0,2013,50.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
28,67693359.0,2013,29.0,M,Person,Aggravated Assault,Assault Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
29,67693359.0,2013,29.0,M,Person,Aggravated Assault,Assault Offenses,18.0,Parking/Drop Lot/Garage,POTTER,"Cities from 100,000 thru 249,000",343.0,68.0,47721.0,12.0,5.0,878.0,122088.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925372,89614872.0,2015,NaN,M,Person,Aggravated Assault,Assault Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925373,89614872.0,2015,NaN,M,Person,Aggravated Assault,Assault Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925374,89614893.0,2015,49.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925375,89614893.0,2015,49.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925376,89614893.0,2015,79.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925377,89614893.0,2015,79.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925378,89614930.0,2015,18.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925379,89614930.0,2015,18.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925380,89614965.0,2015,55.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,25.0,Other/Unknown,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925381,89614965.0,2015,55.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,25.0,Other/Unknown,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925382,89614984.0,2015,75.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,25.0,Other/Unknown,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925383,89614984.0,2015,75.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,25.0,Other/Unknown,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925384,89614990.0,2015,53.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925385,89614990.0,2015,53.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925386,89615066.0,2015,27.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,46.0,Drug Store/Doctor's Office/Hospital,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925387,89615066.0,2015,27.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,46.0,Drug Store/Doctor's Office/Hospital,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925388,89615090.0,2015,26.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,8.0,Department/Discount Store,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925389,89615090.0,2015,26.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,8.0,Department/Discount Store,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925390,89615132.0,2015,17.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925391,89615132.0,2015,17.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925392,89615177.0,2015,NaN,M,Property,Counterfeiting/Forgery,Counterfeiting/Forgery,23.0,Service/Gas Station,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925393,89615177.0,2015,NaN,M,Property,Counterfeiting/Forgery,Counterfeiting/Forgery,23.0,Service/Gas Station,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925394,89615195.0,2015,24.0,F,Property,Theft From Building,Larceny/Theft Offenses,8.0,Department/Discount Store,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925395,89615195.0,2015,24.0,F,Property,Theft From Building,Larceny/Theft Offenses,8.0,Department/Discount Store,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925396,89615218.0,2015,62.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,2.0,Bank/Savings and Loan,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925397,89615218.0,2015,62.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,2.0,Bank/Savings and Loan,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925398,89615312.0,2015,7.0,M,Person,Aggravated Assault,Assault Offenses,4.0,Church/Synagogue/Temple/Mosque,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925399,89615312.0,2015,7.0,M,Person,Aggravated Assault,Assault Offenses,4.0,Church/Synagogue/Temple/Mosque,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925400,89615489.0,2015,33.0,M,Property,Impersonation,Fraud Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0
925401,89615489.0,2015,33.0,M,Property,Impersonation,Fraud Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,SMITH,"Cities from 100,000 thru 249,000",190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0

In [30]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 925402 entries, 0 to 925401
Data columns (total 18 columns):
incident_id               925402 non-null float64
year                      925402 non-null int64
age_num                   911407 non-null float64
victim_sex                925402 non-null object
crime_against             925402 non-null object
offense                   925402 non-null object
offense_category          925402 non-null object
location_id               925402 non-null float64
location_name             925402 non-null object
county                    925402 non-null object
population_description    925402 non-null object
officers                  925402 non-null float64
civilians                 925402 non-null float64
crime_cnt                 925402 non-null float64
fire_cnt                  925402 non-null float64
hosp_cnt                  922934 non-null float64
bed_cnt                   922934 non-null float64
population                924614 non-null float64
dtypes: float64(10), int64(1), object(7)
memory usage: 134.1+ MB

In [31]:
test_df =pd.merge(test_df, pop_df, how = 'outer', on=['county','year'])
test_df

,incident_id,year,age_num,victim_sex,crime_against,offense,offense_category,location_id,location_name,county,population_description,officers,civilians,crime_cnt,fire_cnt,hosp_cnt,bed_cnt,population
0,87264241.0,2016,59.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
1,87264241.0,2016,59.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
2,87264244.0,2016,50.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
3,87264244.0,2016,50.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
4,87264248.0,2016,26.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
5,87264248.0,2016,26.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
6,87264268.0,2016,41.0,M,Person,Simple Assault,Assault Offenses,36.0,Industrial Site,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
7,87264268.0,2016,41.0,M,Person,Simple Assault,Assault Offenses,36.0,Industrial Site,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
8,87264307.0,2016,33.0,M,Property,Destruction/Damage/Vandalism of Property,Destruction/Damage/Vandalism of Property,13.0,Highway/Road/Alley/Street/Sidewalk,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
9,87264307.0,2016,33.0,M,Property,Destruction/Damage/Vandalism of Property,Destruction/Damage/Vandalism of Property,13.0,Highway/Road/Alley/Street/Sidewalk,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
10,87264319.0,2016,23.0,F,Property,False Pretenses/Swindle/Confidence Game,Fraud Offenses,8.0,Department/Discount Store,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
11,87264319.0,2016,23.0,F,Property,False Pretenses/Swindle/Confidence Game,Fraud Offenses,8.0,Department/Discount Store,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
12,87264341.0,2016,48.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,14.0,Hotel/Motel/Etc.,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
13,87264341.0,2016,48.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,14.0,Hotel/Motel/Etc.,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
14,87264368.0,2016,26.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,8.0,Department/Discount Store,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
15,87264368.0,2016,26.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,8.0,Department/Discount Store,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
16,87264408.0,2016,16.0,F,Person,Simple Assault,Assault Offenses,41.0,School-Elementary/Secondary,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
17,87264408.0,2016,16.0,F,Person,Simple Assault,Assault Offenses,41.0,School-Elementary/Secondary,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
18,87264412.0,2016,55.0,F,Property,All Other Larceny,Larceny/Theft Offenses,8.0,Department/Discount Store,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
19,87264412.0,2016,55.0,F,Property,All Other Larceny,Larceny/Theft Offenses,8.0,Department/Discount Store,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
20,87264419.0,2016,79.0,F,Property,False Pretenses/Swindle/Confidence Game,Fraud Offenses,20.0,Residence/Home,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
21,87264419.0,2016,79.0,F,Property,False Pretenses/Swindle/Confidence Game,Fraud Offenses,20.0,Residence/Home,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
22,87264420.0,2016,29.0,F,Person,Simple Assault,Assault Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
23,87264420.0,2016,29.0,F,Person,Simple Assault,Assault Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
24,87264457.0,2016,25.0,F,Person,Intimidation,Assault Offenses,18.0,Parking/Drop Lot/Garage,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
25,87264457.0,2016,25.0,F,Person,Intimidation,Assault Offenses,18.0,Parking/Drop Lot/Garage,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
26,87264459.0,2016,49.0,M,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
27,87264459.0,2016,49.0,M,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
28,87264460.0,2016,24.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
29,87264460.0,2016,24.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,BURNET,"Cities from 2,500 thru 9,999",19.0,13.0,343.0,10.0,2.0,71.0,45914.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328893,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59953.0
328894,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59953.0
328895,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60398.0
328896,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60398.0
328897,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61008.0
328898,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61008.0
328899,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61715.0
328900,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61715.0
328901,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62864.0
328902,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62864.0
328903,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66181.0
328904,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66181.0
328905,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41974.0
328906,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41974.0
328907,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41974.0
328908,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41974.0
328909,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42140.0
328910,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42140.0
328911,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42444.0
328912,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42444.0
328913,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42401.0
328914,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42401.0
328915,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42818.0
328916,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42818.0
328917,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43220.0
328918,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43220.0
328919,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43823.0
328920,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43823.0
328921,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44314.0
328922,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44314.0

In [32]:
test_df.dropna(axis=0, subset=['incident_id'], inplace=True)

In [33]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324535 entries, 0 to 324534
Data columns (total 18 columns):
incident_id               324535 non-null float64
year                      324535 non-null int64
age_num                   319574 non-null float64
victim_sex                324535 non-null object
crime_against             324535 non-null object
offense                   324535 non-null object
offense_category          324535 non-null object
location_id               324535 non-null float64
location_name             324535 non-null object
county                    324535 non-null object
population_description    324535 non-null object
officers                  324535 non-null float64
civilians                 324535 non-null float64
crime_cnt                 324535 non-null float64
fire_cnt                  324535 non-null float64
hosp_cnt                  322613 non-null float64
bed_cnt                   322613 non-null float64
population                323970 non-null float64
dtypes: float64(10), int64(1), object(7)
memory usage: 47.0+ MB

## Pass training and testing dataframes through feature engineering script

In [34]:
from Features_Script import feature_engineering

trn_df, tst_df = feature_engineering(train_df, test_df)

### Do the feature engineering manually in jupyter

In [35]:
# Drop NA in victim age column (<2%)
train_df.dropna(axis=0, subset=['age_num'], inplace=True)

# Drop NA in hospital_cnt column (<2%)
train_df.dropna(axis=0, subset=['hosp_cnt'], inplace=True)

# Drop NA in population column (<2%)
train_df.dropna(axis=0, subset=['population'], inplace=True)

# Create Ratio Columns
train_df['crime_pop_ratio'] = train_df['crime_cnt'] / train_df['population']
train_df['beds_pop_ratio'] = train_df['bed_cnt'] / train_df['population']
train_df['beds_crime_ratio'] = train_df['bed_cnt'] / train_df['crime_cnt']
train_df['fire_pop_ratio'] = train_df['fire_cnt'] / train_df['population']
train_df['fire_crime_ratio'] = train_df['fire_cnt'] / train_df['crime_cnt']

# Reduce df to only desired features to train/test model
train_df = train_df[['age_num', 'victim_sex', 'offense_category', 'location_id', 'population_description',
                     'officers', 'civilians', 'crime_pop_ratio', 'beds_pop_ratio', 'beds_crime_ratio',
                     'fire_pop_ratio', 'fire_crime_ratio', 'county']]

# Dummize features
train_df = pd.get_dummies(train_df, columns=['victim_sex', 'offense_category', 'location_id', 'population_description'])

In [36]:
# Drop NA in victim age column (<2%)
test_df.dropna(axis=0, subset=['age_num'], inplace=True)

# Drop NA in hospital_cnt column (<2%)
test_df.dropna(axis=0, subset=['hosp_cnt'], inplace=True)

# Drop NA in population column (<2%)
test_df.dropna(axis=0, subset=['population'], inplace=True)

# Create Ratio Columns
test_df['crime_pop_ratio'] = test_df['crime_cnt'] / test_df['population']
test_df['beds_pop_ratio'] = test_df['bed_cnt'] / test_df['population']
test_df['beds_crime_ratio'] = test_df['bed_cnt'] / test_df['crime_cnt']
test_df['fire_pop_ratio'] = test_df['fire_cnt'] / test_df['population']
test_df['fire_crime_ratio'] = test_df['fire_cnt'] / test_df['crime_cnt']

# Reduce df to only desired features to train/test model
test_df = test_df[['age_num', 'victim_sex', 'offense_category', 'location_id', 'population_description',
                     'officers', 'civilians', 'crime_pop_ratio', 'beds_pop_ratio', 'beds_crime_ratio',
                     'fire_pop_ratio', 'fire_crime_ratio', 'county']]

# Dummize features
test_df = pd.get_dummies(test_df, columns=['victim_sex', 'offense_category', 'location_id', 'population_description'])

### Confirm script and manual produce identical results

In [37]:
train_df.equals(trn_df)

True

In [38]:
test_df.equals(tst_df)

True

### Split data into training and testing sets

In [39]:
y_train = trn_df.pop('county').values
X_train = trn_df.values
y_test = tst_df.pop('county').values
X_test = tst_df.values

### Confirm shapes match

In [40]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (909046, 91)
Training Labels Shape: (909046,)
Testing Features Shape: (317694, 91)
Testing Labels Shape: (317694,)

## Random Forest Classifier

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

/home/kendal/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Train Model

In [42]:
clf = RandomForestClassifier(oob_score=True, n_estimators=100, max_depth=50, max_features='auto')
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=50, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

### Get Predictions

In [43]:
preds = clf.predict(X_test)
proba_preds = clf.predict_proba(X_test)

### Calculate Scores

In [44]:
# calculate scores
precision_micro = precision_score(y_test, preds, average = 'micro')
precision_weighted = precision_score(y_test, preds, average = 'weighted')

recall_micro = recall_score(y_test, preds, average = 'micro')
recall_weighted = recall_score(y_test, preds, average = 'weighted')

F_1_micro = 2 / ((1/precision_micro) + (1/recall_micro))
F_1_weighted = 2 / ((1/precision_weighted) + (1/recall_weighted))

score = clf.score(X_test, y_test)
oob=clf.oob_score_
acc = accuracy_score(y_test, preds)


print('Precision Scores:', precision_micro, precision_weighted)
print('Recall Scores:', recall_micro, recall_weighted)
print('F 1 Scores:', F_1_micro, F_1_weighted)
print('Score:', score)
print('oob Score:', oob)
print('Accuracy Score:', acc)

/home/kendal/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/kendal/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

Precision Scores: 0.8516685867532909 0.8618213509666313
Recall Scores: 0.8516685867532909 0.8516685867532909
F 1 Scores: 0.851668586753291 0.8567148902995616
oob Score: 1.0
Accuracy Score: 0.8516685867532909

### Feature Importances

In [45]:
import operator
feats = {} # a dict to hold feature_name: feature_importance
for feature, importance in zip(trn_df.columns, clf.feature_importances_):
    feats[feature] = importance
feats = sorted(feats.items(), key = operator.itemgetter(1), reverse=True)
feats

[('fire_crime_ratio', 0.1375249652157433),
 ('civilians', 0.1343632093567462),
 ('officers', 0.13435318685952097),
 ('crime_pop_ratio', 0.11329065761107428),
 ('beds_crime_ratio', 0.10906238943709269),
 ('beds_pop_ratio', 0.10070427286999693),
 ('fire_pop_ratio', 0.08993893872128997),
 ('population_description_Cities from 500,000 thru 999,999',
  0.06695150242822526),
 ('population_description_Cities from 100,000 thru 249,000',
  0.04295520602849134),
 ('population_description_Cities from 50,000 thru 99,000',
  0.02112187631675585),
 ('population_description_MSA counties from 25,000 thru 99,999',
  0.010426138628865),
 ('population_description_Cities from 25,000 thru 49,999',
  0.009682190672943658),
 ('population_description_Cities from 250,000 thru 499,999',
  0.007656964984387976),
 ('population_description_Cities from 10,000 thru 24,999',
  0.00559663075463441),
 ('population_description_Non-MSA counties from 25,000 thru 99,999',
  0.00529725536462732),
 ('population_description_Non-MSA counties from 10,000 thru 24,999',
  0.0026037995165684134),
 ('population_description_Cities from 2,500 thru 9,999',
  0.0022162397932829416),
 ('population_description_Cities under 2,500', 0.0009063920148594963),
 ('population_description_MSA counties from 10,000 thru 24,999',
  0.0006571304941301547),
 ('offense_category_Fraud Offenses', 0.0005276260944764019),
 ('location_id_18.0', 0.0005062694531030908),
 ('population_description_Non-MSA counties under 10,000',
  0.00048553455874727374),
 ('age_num', 0.00042346734541558114),
 ('location_id_20.0', 0.00033869869321052535),
 ('location_id_1.0', 0.000326002718586287),
 ('offense_category_Destruction/Damage/Vandalism of Property',
  0.00019408912466449373),
 ('location_id_13.0', 0.00017981454976661766),
 ('location_id_25.0', 0.000177678835804883),
 ('offense_category_Assault Offenses', 0.0001746807296142301),
 ('location_id_41.0', 0.00017288913272116388),
 ('location_id_22.0', 0.00016221629966299813),
 ('offense_category_Larceny/Theft Offenses', 0.00011341082741654138),
 ('offense_category_Burglary/Breaking & Entering', 0.00010754606843685878),
 ('location_id_10.0', 9.485117871232958e-05),
 ('location_id_8.0', 6.483676072711472e-05),
 ('offense_category_Motor Vehicle Theft', 4.496523022405462e-05),
 ('location_id_5.0', 4.118099729573549e-05),
 ('location_id_14.0', 4.0804792643861115e-05),
 ('offense_category_Robbery', 3.499815577704471e-05),
 ('victim_sex_F', 3.3817123843036024e-05),
 ('location_id_24.0', 3.2975941464449045e-05),
 ('location_id_43.0', 2.9532921052756885e-05),
 ('victim_sex_M', 2.943578207637699e-05),
 ('offense_category_Counterfeiting/Forgery', 2.8632079793459478e-05),
 ('location_id_21.0', 2.724618353297208e-05),
 ('location_id_3.0', 2.5593657094007448e-05),
 ('location_id_19.0', 2.1915275017380874e-05),
 ('location_id_15.0', 1.9870363218156884e-05),
 ('location_id_46.0', 1.9788419499932663e-05),
 ('offense_category_Drug/Narcotic Offenses', 1.9677880592457353e-05),
 ('offense_category_Kidnapping/Abduction', 1.9628199416934492e-05),
 ('location_id_12.0', 1.6304365059880012e-05),
 ('location_id_2.0', 1.6093880576038007e-05),
 ('offense_category_Sex Offenses', 1.3681151192486479e-05),
 ('offense_category_Stolen Property Offenses', 1.3641667825054334e-05),
 ('location_id_7.0', 1.22170840052644e-05),
 ('location_id_11.0', 1.1875990459550723e-05),
 ('location_id_23.0', 1.051141466718189e-05),
 ('victim_sex_U', 1.0286973204799595e-05),
 ('location_id_34.0', 1.005859057188645e-05),
 ('location_id_38.0', 7.73307918837061e-06),
 ('location_id_40.0', 7.207519300351114e-06),
 ('location_id_31.0', 7.129388910296768e-06),
 ('offense_category_Weapon Law Violations', 6.866914999282398e-06),
 ('location_id_6.0', 5.343998991401439e-06),
 ('location_id_36.0', 2.8465213059276115e-06),
 ('offense_category_Arson', 2.289318238183285e-06),
 ('location_id_16.0', 2.1763978539533434e-06),
 ('location_id_4.0', 2.1681140972280563e-06),
 ('location_id_45.0', 1.9389567062702627e-06),
 ('location_id_28.0', 1.750445982283943e-06),
 ('location_id_30.0', 1.6504060162444945e-06),
 ('offense_category_Homicide Offenses', 1.4603149017973038e-06),
 ('location_id_17.0', 9.85372342773247e-07),
 ('location_id_32.0', 9.170958387667388e-07),
 ('location_id_29.0', 8.079243953561822e-07),
 ('location_id_42.0', 6.892666518001361e-07),
 ('offense_category_Embezzlement', 6.482637958485238e-07),
 ('offense_category_Pornography/Obscene Material', 5.752442140585611e-07),
 ('location_id_26.0', 3.851718306409924e-07),
 ('offense_category_Bribery', 3.616258414234584e-07),
 ('location_id_35.0', 2.5911548598292603e-07),
 ('offense_category_Extortion/Blackmail', 2.3319496033306908e-07),
 ('location_id_33.0', 2.2340541262229961e-07),
 ('location_id_27.0', 3.706576212514816e-08),
 ('offense_category_Prostitution Offenses', 2.231656954393737e-08),
 ('offense_category_Gambling Offenses', 0.0),
 ('offense_category_Human Trafficking', 0.0),
 ('location_id_37.0', 0.0),
 ('location_id_39.0', 0.0),
 ('location_id_44.0', 0.0)]