In [1]:
import pandas as pd

In [2]:
A = pd.DataFrame({'county': ['Brewster', 'Kendall', 'Burnet', 'Williamson'],'year': [2016, 2013, 2012, 2014]})

In [3]:
B = pd.DataFrame({'county': ['Brewster', 'Kendall', 'Burnet', 'Travis'],'year': [2016, 2013, 2014, 2014],
                  'population': [1, 1, 2, 3]})

In [4]:
print(pd.merge(A, B, how = 'outer', on=['county','year']))

       county  year  population
0    Brewster  2016         1.0
1     Kendall  2013         1.0
2      Burnet  2012         NaN
3  Williamson  2014         NaN
4      Burnet  2014         2.0
5      Travis  2014         3.0

In [5]:
C =pd.merge(A, B, how = 'outer', on=['county','year'])

In [6]:
C

       county  year  population
0    Brewster  2016         1.0
1     Kendall  2013         1.0
2      Burnet  2012         NaN
3  Williamson  2014         NaN
4      Burnet  2014         2.0
5      Travis  2014         3.0

In [7]:
pop_df = pd.read_csv('census_population.csv')

In [8]:
pop_df.head()

     county  year  population
0  ANDERSON  2010       58477
1  ANDERSON  2011       58379
2  ANDERSON  2012       58036
3  ANDERSON  2013       57960
4  ANDERSON  2014       57837

In [9]:
pop_df['population_description'] = pd.cut(pop_df['population'], [0, 10000, 50000, 100000, 500000, 
                                                                 1000000, 10000000],
                                                labels=['Under 10,000', '10,000 - 49,999', '50,000 - 99,999',
                                                        '100,000 - 499,999', '500,000 - 1,000,000', 
                                                        'Over 1 million'])

In [10]:
pop_df

        county  year  population population_description
0     ANDERSON  2010       58477        50,000 - 99,999
1     ANDERSON  2011       58379        50,000 - 99,999
2     ANDERSON  2012       58036        50,000 - 99,999
3     ANDERSON  2013       57960        50,000 - 99,999
4     ANDERSON  2014       57837        50,000 - 99,999
5     ANDERSON  2015       57641        50,000 - 99,999
6     ANDERSON  2016       57558        50,000 - 99,999
7     ANDERSON  2017       57741        50,000 - 99,999
8      ANDREWS  2010       14817        10,000 - 49,999
9      ANDREWS  2011       15386        10,000 - 49,999
10     ANDREWS  2012       16106        10,000 - 49,999
11     ANDREWS  2013       16788        10,000 - 49,999
12     ANDREWS  2014       17448        10,000 - 49,999
13     ANDREWS  2015       18092        10,000 - 49,999
14     ANDREWS  2016       17837        10,000 - 49,999
15     ANDREWS  2017       17722        10,000 - 49,999
16    ANGELINA  2010       86837        50,000 - 99,999
17    ANGELINA  2011       87282        50,000 - 99,999
18    ANGELINA  2012       87496        50,000 - 99,999
19    ANGELINA  2013       87365        50,000 - 99,999
20    ANGELINA  2014       87601        50,000 - 99,999
21    ANGELINA  2015       87901        50,000 - 99,999
22    ANGELINA  2016       87830        50,000 - 99,999
23    ANGELINA  2017       87805        50,000 - 99,999
24     ARANSAS  2010       23170        10,000 - 49,999
25     ARANSAS  2011       23228        10,000 - 49,999
26     ARANSAS  2012       23462        10,000 - 49,999
27     ARANSAS  2013       23897        10,000 - 49,999
28     ARANSAS  2014       24581        10,000 - 49,999
29     ARANSAS  2015       24834        10,000 - 49,999
...        ...   ...         ...                    ...
1970    WILSON  2012       44356        10,000 - 49,999
1971    WILSON  2013       45228        10,000 - 49,999
1972    WILSON  2014       46143        10,000 - 49,999
1973    WILSON  2015       47162        10,000 - 49,999
1974    WILSON  2016       48190        10,000 - 49,999
1975    WILSON  2017       49304        10,000 - 49,999
1976   WINKLER  2010        7098           Under 10,000
1977   WINKLER  2011        7161           Under 10,000
1978   WINKLER  2012        7365           Under 10,000
1979   WINKLER  2013        7631           Under 10,000
1980   WINKLER  2014        7815           Under 10,000
1981   WINKLER  2015        7995           Under 10,000
1982   WINKLER  2016        7872           Under 10,000
1983   WINKLER  2017        7574           Under 10,000
1984      WISE  2010       59119        50,000 - 99,999
1985      WISE  2011       59953        50,000 - 99,999
1986      WISE  2012       60398        50,000 - 99,999
1987      WISE  2013       61008        50,000 - 99,999
1988      WISE  2014       61715        50,000 - 99,999
1989      WISE  2015       62864        50,000 - 99,999
1990      WISE  2016       64465        50,000 - 99,999
1991      WISE  2017       66181        50,000 - 99,999
1992      WOOD  2010       41974        10,000 - 49,999
1993      WOOD  2011       42140        10,000 - 49,999
1994      WOOD  2012       42444        10,000 - 49,999
1995      WOOD  2013       42401        10,000 - 49,999
1996      WOOD  2014       42818        10,000 - 49,999
1997      WOOD  2015       43220        10,000 - 49,999
1998      WOOD  2016       43823        10,000 - 49,999
1999      WOOD  2017       44314        10,000 - 49,999

[2000 rows x 4 columns]

In [11]:
pop_df['population_description'].value_counts()

10,000 - 49,999        820
Under 10,000           677
100,000 - 499,999      225
50,000 - 99,999        191
500,000 - 1,000,000     47
Over 1 million          40
Name: population_description, dtype: int64

In [ ]:
pop_df.to_csv('census_populations.csv')