In [2]:
import pandas as pd

In [3]:
A = pd.DataFrame({'county': ['Brewster', 'Kendall', 'Burnet', 'Williamson'],'year': [2016, 2013, 2012, 2014]})

In [4]:
B = pd.DataFrame({'county': ['Brewster', 'Kendall', 'Burnet', 'Travis'],'year': [2016, 2013, 2014, 2014],'population': [1, 1, 2, 3]})

In [5]:
print(pd.merge(A, B, how = 'outer', on=['county','year']))

       county  year  population
0    Brewster  2016         1.0
1     Kendall  2013         1.0
2      Burnet  2012         NaN
3  Williamson  2014         NaN
4      Burnet  2014         2.0
5      Travis  2014         3.0

In [6]:
C =pd.merge(A, B, how = 'outer', on=['county','year'])

In [7]:
C

       county  year  population
0    Brewster  2016         1.0
1     Kendall  2013         1.0
2      Burnet  2012         NaN
3  Williamson  2014         NaN
4      Burnet  2014         2.0
5      Travis  2014         3.0

In [8]:
pop_df = pd.read_csv('census_populations.csv')

In [9]:
pop_df.head()

     county  year  population
0  Anderson  2010       58477
1  Anderson  2010       58477
2  Anderson  2010       58477
3  Anderson  2010       58477
4  Anderson  2011       58379

In [11]:
pop_df.drop_duplicates(['county','year'], inplace=True)

In [12]:
pop_df

        county  year  population
0     Anderson  2010       58477
4     Anderson  2011       58379
6     Anderson  2012       58036
8     Anderson  2013       57960
10    Anderson  2014       57837
12    Anderson  2015       57641
14    Anderson  2016       57558
16    Anderson  2017       57741
18     Andrews  2010       14817
22     Andrews  2011       15386
24     Andrews  2012       16106
26     Andrews  2013       16788
28     Andrews  2014       17448
30     Andrews  2015       18092
32     Andrews  2016       17837
34     Andrews  2017       17722
36    Angelina  2010       86837
40    Angelina  2011       87282
42    Angelina  2012       87496
44    Angelina  2013       87365
46    Angelina  2014       87601
48    Angelina  2015       87901
50    Angelina  2016       87830
52    Angelina  2017       87805
54     Aransas  2010       23170
58     Aransas  2011       23228
60     Aransas  2012       23462
62     Aransas  2013       23897
64     Aransas  2014       24581
66     Aransas  2015       24834
...        ...   ...         ...
4434    Wilson  2012       44356
4436    Wilson  2013       45228
4438    Wilson  2014       46143
4440    Wilson  2015       47162
4442    Wilson  2016       48190
4444    Wilson  2017       49304
4446   Winkler  2010        7098
4450   Winkler  2011        7161
4452   Winkler  2012        7365
4454   Winkler  2013        7631
4456   Winkler  2014        7815
4458   Winkler  2015        7995
4460   Winkler  2016        7872
4462   Winkler  2017        7574
4464      Wise  2010       59119
4468      Wise  2011       59953
4470      Wise  2012       60398
4472      Wise  2013       61008
4474      Wise  2014       61715
4476      Wise  2015       62864
4478      Wise  2016       64465
4480      Wise  2017       66181
4482      Wood  2010       41974
4486      Wood  2011       42140
4488      Wood  2012       42444
4490      Wood  2013       42401
4492      Wood  2014       42818
4494      Wood  2015       43220
4496      Wood  2016       43823
4498      Wood  2017       44314

[2000 rows x 3 columns]

In [23]:
pop_df['population_description'] = pd.cut(pop_df['population'], [0, 10000, 25000, 100000, 500000], labels=['Under 10,000', '10,000 - 24,999', '25,000 - 99,999','Over 100,000'])

In [24]:
pop_df

        county  year  population population_description
0     Anderson  2010       58477        25,000 - 99,999
4     Anderson  2011       58379        25,000 - 99,999
6     Anderson  2012       58036        25,000 - 99,999
8     Anderson  2013       57960        25,000 - 99,999
10    Anderson  2014       57837        25,000 - 99,999
12    Anderson  2015       57641        25,000 - 99,999
14    Anderson  2016       57558        25,000 - 99,999
16    Anderson  2017       57741        25,000 - 99,999
18     Andrews  2010       14817        10,000 - 24,999
22     Andrews  2011       15386        10,000 - 24,999
24     Andrews  2012       16106        10,000 - 24,999
26     Andrews  2013       16788        10,000 - 24,999
28     Andrews  2014       17448        10,000 - 24,999
30     Andrews  2015       18092        10,000 - 24,999
32     Andrews  2016       17837        10,000 - 24,999
34     Andrews  2017       17722        10,000 - 24,999
36    Angelina  2010       86837        25,000 - 99,999
40    Angelina  2011       87282        25,000 - 99,999
42    Angelina  2012       87496        25,000 - 99,999
44    Angelina  2013       87365        25,000 - 99,999
46    Angelina  2014       87601        25,000 - 99,999
48    Angelina  2015       87901        25,000 - 99,999
50    Angelina  2016       87830        25,000 - 99,999
52    Angelina  2017       87805        25,000 - 99,999
54     Aransas  2010       23170        10,000 - 24,999
58     Aransas  2011       23228        10,000 - 24,999
60     Aransas  2012       23462        10,000 - 24,999
62     Aransas  2013       23897        10,000 - 24,999
64     Aransas  2014       24581        10,000 - 24,999
66     Aransas  2015       24834        10,000 - 24,999
...        ...   ...         ...                    ...
4434    Wilson  2012       44356        25,000 - 99,999
4436    Wilson  2013       45228        25,000 - 99,999
4438    Wilson  2014       46143        25,000 - 99,999
4440    Wilson  2015       47162        25,000 - 99,999
4442    Wilson  2016       48190        25,000 - 99,999
4444    Wilson  2017       49304        25,000 - 99,999
4446   Winkler  2010        7098           Under 10,000
4450   Winkler  2011        7161           Under 10,000
4452   Winkler  2012        7365           Under 10,000
4454   Winkler  2013        7631           Under 10,000
4456   Winkler  2014        7815           Under 10,000
4458   Winkler  2015        7995           Under 10,000
4460   Winkler  2016        7872           Under 10,000
4462   Winkler  2017        7574           Under 10,000
4464      Wise  2010       59119        25,000 - 99,999
4468      Wise  2011       59953        25,000 - 99,999
4470      Wise  2012       60398        25,000 - 99,999
4472      Wise  2013       61008        25,000 - 99,999
4474      Wise  2014       61715        25,000 - 99,999
4476      Wise  2015       62864        25,000 - 99,999
4478      Wise  2016       64465        25,000 - 99,999
4480      Wise  2017       66181        25,000 - 99,999
4482      Wood  2010       41974        25,000 - 99,999
4486      Wood  2011       42140        25,000 - 99,999
4488      Wood  2012       42444        25,000 - 99,999
4490      Wood  2013       42401        25,000 - 99,999
4492      Wood  2014       42818        25,000 - 99,999
4494      Wood  2015       43220        25,000 - 99,999
4496      Wood  2016       43823        25,000 - 99,999
4498      Wood  2017       44314        25,000 - 99,999

[2000 rows x 4 columns]

In [25]:
pop_df['population_description'].value_counts()

Under 10,000       677
10,000 - 24,999    511
25,000 - 99,999    500
Over 100,000       225
Name: population_description, dtype: int64

In [27]:
pop_df['county'] = pop_df['county'].str.upper()

In [28]:
pop_df.head()

      county  year  population population_description
0   ANDERSON  2010       58477        25,000 - 99,999
4   ANDERSON  2011       58379        25,000 - 99,999
6   ANDERSON  2012       58036        25,000 - 99,999
8   ANDERSON  2013       57960        25,000 - 99,999
10  ANDERSON  2014       57837        25,000 - 99,999

In [29]:
pop_df.to_csv('census_populations.csv')