In [1]:
import numpy as np
import pandas as pd
import psycopg2

In [2]:
import json

with open('config.json') as f:
    conf = json.load(f)
    host = conf['host']
    database = conf['database']
    user = conf['user']
    passw = conf['passw']

In [3]:
conn_str = "host={} dbname={} user={} password={}".format(host, database, user, passw)
conn = psycopg2.connect(conn_str)

In [4]:
query = '''
SELECT      DISTINCT inc.incident_id,
            date_part('year',inc.incident_date),
            vic.age_num,
            vic.sex_code AS VICTIM_SEX,
            oft.offense_category_name AS OFFENSE_CATEGORY,
            ori.countyname AS COUNTY
            
FROM        nibrs_victim as vic
JOIN        nibrs_offense as off
ON          off.incident_id = vic.incident_id
JOIN        nibrs_offense_type as oft
ON          oft.offense_type_id = off.offense_type_id
JOIN        nibrs_incident as inc
ON          inc.incident_id = vic.incident_id
JOIN        cde_agencies as ags
ON          ags.agency_id = inc.agency_id
JOIN        ori_to_fips as ori
ON          ori.ori9 = ags.ori

WHERE       vic.victim_type_id = 4
AND         inc.incident_date BETWEEN '2016-01-01' AND '2016-12-31';
'''

In [5]:
df = pd.read_sql(query, con=conn)
df.head(3).T

,0,1,2
incident_id,87264241,87264244,87264248
date_part,2016,2016,2016
age_num,59,50,26
victim_sex,F,M,F
offense_category,Larceny/Theft Offenses,Fraud Offenses,Larceny/Theft Offenses
county,BURNET,BURNET,BURNET

In [6]:
crime_df = df.groupby(['county']).incident_id.agg('count')
crime_df = crime_df.to_frame().reset_index()
crime_df = crime_df.rename({'incident_id': 'crime_cnt'}, axis='columns')
crime_df

          county  crime_cnt
0           BELL       3348
1          BEXAR        392
2       BRAZORIA       2994
3       BREWSTER         70
4         BURNET        342
5        CALHOUN        756
6        CAMERON          2
7         COLLIN      16800
8        CORYELL        111
9         DALLAS       4395
10       DE WITT        311
11        DENTON      10999
12        GOLIAD        200
13         GREGG       5563
14      HARDEMAN         63
15        HARDIN        383
16        HARRIS       1207
17       HIDALGO        301
18          HUNT        108
19    HUTCHINSON        360
20       JACKSON        311
21     JEFFERSON        177
22       JOHNSON       1365
23       KAUFMAN       2875
24       KENDALL        292
25         LAMAR         91
26      LAMPASAS        150
27        LAVACA        128
28          LEON         37
29       LUBBOCK       1421
30       MADISON         31
31      MCLENNAN       2102
32         MILAM         32
33    MONTGOMERY       3000
34   NACOGDOCHES       2473
35     OCHILTREE         47
36        PARKER       1667
37          POLK        797
38        POTTER      16635
39       RANDALL        103
40      ROCKWALL       1658
41          RUSK       2219
42  SAN PATRICIO        427
43      SAN SABA         49
44        SHELBY         28
45         SMITH       6283
46         STARR         32
47       TARRANT      49434
48     TOM GREEN       8971
49        TRAVIS        489
50      VICTORIA       4874
51        WALKER        854
52       WHARTON        744
53       WICHITA        145
54       WILLACY        115
55    WILLIAMSON       1598
56          WISE        206
57         YOUNG         33
58        ZAVALA        218

In [7]:
df.join(crime_df.set_index('county'), on='county')

,incident_id,date_part,age_num,victim_sex,offense_category,county,crime_cnt
0,87264241,2016.0,59.0,F,Larceny/Theft Offenses,BURNET,342
1,87264244,2016.0,50.0,M,Fraud Offenses,BURNET,342
2,87264248,2016.0,26.0,F,Larceny/Theft Offenses,BURNET,342
3,87264256,2016.0,25.0,F,Assault Offenses,CAMERON,2
4,87264264,2016.0,26.0,M,Larceny/Theft Offenses,CAMERON,2
5,87264268,2016.0,41.0,M,Assault Offenses,BURNET,342
6,87264307,2016.0,33.0,M,Destruction/Damage/Vandalism of Property,BURNET,342
7,87264319,2016.0,23.0,F,Fraud Offenses,BURNET,342
8,87264341,2016.0,48.0,F,Fraud Offenses,BURNET,342
9,87264368,2016.0,26.0,M,Fraud Offenses,BURNET,342
10,87264408,2016.0,16.0,F,Assault Offenses,BURNET,342
11,87264412,2016.0,55.0,F,Larceny/Theft Offenses,BURNET,342
12,87264419,2016.0,79.0,F,Fraud Offenses,BURNET,342
13,87264420,2016.0,29.0,F,Assault Offenses,BURNET,342
14,87264457,2016.0,25.0,F,Assault Offenses,BURNET,342
15,87264459,2016.0,49.0,M,Larceny/Theft Offenses,BURNET,342
16,87264460,2016.0,24.0,F,Assault Offenses,BURNET,342
17,87264460,2016.0,25.0,M,Assault Offenses,BURNET,342
18,87264461,2016.0,74.0,F,Fraud Offenses,BURNET,342
19,87264476,2016.0,24.0,F,Assault Offenses,BURNET,342
20,87264483,2016.0,31.0,M,Larceny/Theft Offenses,BURNET,342
21,87264486,2016.0,36.0,M,Burglary/Breaking & Entering,BURNET,342
22,87264488,2016.0,24.0,F,Assault Offenses,BURNET,342
23,87264488,2016.0,43.0,M,Assault Offenses,BURNET,342
24,87264511,2016.0,20.0,M,Assault Offenses,BURNET,342
25,87265075,2016.0,43.0,F,Larceny/Theft Offenses,BURNET,342
26,87265156,2016.0,52.0,M,Larceny/Theft Offenses,BURNET,342
27,87265250,2016.0,54.0,F,Larceny/Theft Offenses,BURNET,342
28,87265272,2016.0,41.0,F,Assault Offenses,BURNET,342
29,87265289,2016.0,18.0,M,Larceny/Theft Offenses,BURNET,342
...,...,...,...,...,...,...,...
160786,92068603,2016.0,37.0,F,Assault Offenses,POLK,797
160787,92068605,2016.0,34.0,M,Larceny/Theft Offenses,POLK,797
160788,92068606,2016.0,57.0,M,Burglary/Breaking & Entering,POLK,797
160789,92068608,2016.0,60.0,F,Larceny/Theft Offenses,POLK,797
160790,92068609,2016.0,33.0,F,Assault Offenses,POLK,797
160791,92068610,2016.0,19.0,F,Larceny/Theft Offenses,POLK,797
160792,92068611,2016.0,45.0,F,Destruction/Damage/Vandalism of Property,POLK,797
160793,92068612,2016.0,21.0,F,Burglary/Breaking & Entering,POLK,797
160794,92068612,2016.0,23.0,M,Burglary/Breaking & Entering,POLK,797
160795,92068613,2016.0,42.0,F,Burglary/Breaking & Entering,POLK,797
160796,92068613,2016.0,45.0,M,Burglary/Breaking & Entering,POLK,797
160797,92068614,2016.0,68.0,M,Larceny/Theft Offenses,POLK,797
160798,92068616,2016.0,63.0,F,Larceny/Theft Offenses,POLK,797
160799,92068624,2016.0,46.0,F,Assault Offenses,POLK,797
160800,92068625,2016.0,NaN,F,Larceny/Theft Offenses,POLK,797
160801,92068627,2016.0,41.0,M,Assault Offenses,POLK,797
160802,92068627,2016.0,41.0,M,Drug/Narcotic Offenses,POLK,797
160803,92068636,2016.0,66.0,M,Assault Offenses,POLK,797
160804,92068638,2016.0,42.0,M,Burglary/Breaking & Entering,POLK,797
160805,92068641,2016.0,50.0,F,Destruction/Damage/Vandalism of Property,POLK,797
160806,92068642,2016.0,24.0,F,Destruction/Damage/Vandalism of Property,POLK,797
160807,92068646,2016.0,59.0,F,Assault Offenses,POLK,797
160808,92068655,2016.0,58.0,F,Counterfeiting/Forgery,POLK,797
160809,92068655,2016.0,63.0,M,Counterfeiting/Forgery,POLK,797
160810,92068658,2016.0,27.0,F,Burglary/Breaking & Entering,POLK,797
160811,92068658,2016.0,36.0,M,Burglary/Breaking & Entering,POLK,797
160812,92068665,2016.0,39.0,M,Destruction/Damage/Vandalism of Property,POLK,797
160813,92068667,2016.0,72.0,M,Larceny/Theft Offenses,POLK,797
160814,92068668,2016.0,42.0,M,Burglary/Breaking & Entering,POLK,797
160815,92068670,2016.0,73.0,M,Burglary/Breaking & Entering,POLK,797

In [8]:
df.head()

   incident_id  date_part  age_num victim_sex        offense_category   county
0     87264241     2016.0     59.0          F  Larceny/Theft Offenses   BURNET
1     87264244     2016.0     50.0          M          Fraud Offenses   BURNET
2     87264248     2016.0     26.0          F  Larceny/Theft Offenses   BURNET
3     87264256     2016.0     25.0          F        Assault Offenses  CAMERON
4     87264264     2016.0     26.0          M  Larceny/Theft Offenses  CAMERON

In [9]:
age_df = df[['victim_sex','age_num']]

In [10]:
age_df.columns = ['victim_sex','age_num']

axarr = age_df.hist(column='age_num', by ='victim_sex', bins=99, rwidth=0.9, sharex=True, sharey=True, layout = (1, 3), figsize=(15,5))

for ax in axarr.flatten():
    ax.set_xlabel("Age")
    ax.set_ylabel("Victim Count")

In [ ]:
off_df = df[['victim_sex','offense_category']]

In [ ]:
off_df.columns = ['victim_sex','offense_category']

axarr = off_df.hist(column='offense_category', by = 'victim_sex', bins=18, sharex=True, sharey=True, layout = (1, 3), figsize=(15,5))

for ax in axarr.flatten():
    ax.set_xlabel("Offense Category")
    ax.set_ylabel("Victim Count")

In [ ]:
df['victim_sex'].value_counts()

In [ ]:
df['offense_category'].unique()

In [ ]:
df.groupby(['victim_sex','offense_category']).incident_id.agg('count')

In [ ]:
hospitals = pd.read_csv('export.csv')
hospitals.head(3).T

In [ ]:
hospitals['beds'] = hospitals['beds'].clip_lower(0)

In [ ]:
hosp_cnt = hospitals.groupby('county').id.agg('count')

In [ ]:
hosp_cnt = hosp_cnt.to_frame().reset_index()

In [ ]:
hosp_cnt

In [ ]:
test_merge = hospitals.merge(hosp_cnt,on='county')

In [ ]:
test_merge.head(3).T

In [ ]:
bed_cnt = hospitals.groupby('county').beds.agg('sum')

In [ ]:
bed_cnt = bed_cnt.to_frame().reset_index()

In [ ]:
bed_cnt

In [ ]:
hosp = test_merge.merge(bed_cnt,on='county')

In [ ]:
hosp.head(3).T

In [ ]:
hosp = hosp.rename({'id_x': 'id', 'id_y': 'count', 'beds_x': 'beds', 'beds_y': 'bed_count'}, axis='columns')

In [ ]:
hosp.head(3).T

In [ ]:
hosp_merge = hosp[['county','count','bed_count']]

In [ ]:
#df = df.merge(hosp_merge,on='county')
df = df.join(hosp_merge.set_index('county'), on='county')

In [ ]:
df.head(3).T