# Intelligent Model: Random Forest Classifier

In [1]:
import pandas as pd

### Read in query outputs to dataframes

In [2]:
crime_df = pd.read_csv('crime_query.csv')
label_df = pd.read_csv('label_query.csv')
h_df = pd.read_csv('hosp_query.csv')
f_df = pd.read_csv('fire_query.csv')

In [3]:
crime_df.head().T

,0,1,2,3,4
incident_id,67693343,67693344,67693345,67693346,67693348
date_part,2013,2013,2013,2013,2013
age_num,46,57,51,24,49
victim_sex,F,M,F,M,M
crime_against,Property,Property,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle,All Other Larceny,Burglary/Breaking & Entering
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Burglary/Breaking & Entering
location_id,20,18,18,5,20
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage,Commercial/Office Building,Residence/Home
county,POTTER,POTTER,POTTER,POTTER,POTTER
population,198770,198770,198770,198770,198770
population_description,"Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000"
officers,343,343,343,343,343
civilians,68,68,68,68,68

### Get crime count by county and join to crime_df

In [4]:
tmp_df4 = crime_df.groupby(['county']).incident_id.agg('count')
tmp_df4 = tmp_df4.to_frame().reset_index()
tmp_df4 = tmp_df4.rename({'incident_id': 'crime_cnt'}, axis='columns')
tmp_df4

         county  crime_cnt
0          BELL      10240
1         BEXAR         35
2      BRAZORIA       9487
3      BREWSTER         61
4        BURNET       1303
5       CALHOUN       1634
6       CAMERON          3
7      CHEROKEE        396
8          COKE          2
9        COLLIN      55442
10       DALLAS      13648
11      DE WITT        675
12       DENTON      30263
13       GOLIAD        520
14      GRAYSON       1356
15        GREGG      16945
16     HARDEMAN         43
17       HARDIN       1237
18       HARRIS       3542
19      HIDALGO         24
20         HUNT        318
21      JACKSON        926
22      JOHNSON       4792
23      KAUFMAN       8007
24       LAVACA        453
25         LEON         16
26        LLANO        233
27      LUBBOCK       4204
28     MCLENNAN       3440
29        MILAM         24
30   MONTGOMERY       7821
31  NACOGDOCHES       2644
32        NOLAN        869
33       PARKER       1737
34         POLK       4734
35       POTTER      47721
36     ROCKWALL       5351
37         RUSK       5918
38     SAN SABA        243
39        SMITH      19368
40      TARRANT     152225
41    TOM GREEN      22908
42       TRAVIS        785
43     VICTORIA      15109
44      WHARTON       1939
45      WICHITA        587
46      WILLACY         59
47   WILLIAMSON       3695
48       ZAVALA        113

In [5]:
crime_df = crime_df.join(tmp_df4.set_index('county'), on='county')

In [6]:
crime_df.head().T

,0,1,2,3,4
incident_id,67693343,67693344,67693345,67693346,67693348
date_part,2013,2013,2013,2013,2013
age_num,46,57,51,24,49
victim_sex,F,M,F,M,M
crime_against,Property,Property,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle,All Other Larceny,Burglary/Breaking & Entering
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Burglary/Breaking & Entering
location_id,20,18,18,5,20
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage,Commercial/Office Building,Residence/Home
county,POTTER,POTTER,POTTER,POTTER,POTTER
population,198770,198770,198770,198770,198770
population_description,"Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000"
officers,343,343,343,343,343
civilians,68,68,68,68,68
crime_cnt,47721,47721,47721,47721,47721

### Get hospital and bed counts by county and join to h_df

In [7]:
h_df.head()

     county   hosp_id    beds
0    HARRIS  25577030  1082.0
1     JONES   3379501    45.0
2    COLLIN    475013    73.0
3    POTTER    679106   451.0
4  BRAZORIA   1177515    64.0

In [8]:
h_df['beds'] = h_df['beds'].clip_lower(1)

In [9]:
tmp_df = h_df.groupby(['county']).hosp_id.agg('count')
tmp_df = tmp_df.to_frame().reset_index()
tmp_df = tmp_df.rename({'hosp_id': 'hosp_cnt'}, axis='columns')
tmp_df

           county  hosp_cnt
0        ANDERSON         1
1         ANDREWS         1
2        ANGELINA         2
3        ATASCOSA         1
4          AUSTIN         1
5          BAILEY         1
6         BASTROP         1
7          BAYLOR         1
8             BEE         1
9            BELL         7
10          BEXAR        33
11         BOSQUE         1
12          BOWIE         2
13       BRAZORIA         5
14         BRAZOS         4
15       BREWSTER         1
16          BROWN         1
17       BURLESON         1
18         BURNET         2
19       CALDWELL         1
20        CALHOUN         1
21        CAMERON         6
22           CAMP         1
23           CASS         2
24         CASTRO         1
25       CHAMBERS         2
26       CHEROKEE         2
27      CHILDRESS         1
28           CLAY         1
29        COCHRAN         1
..            ...       ...
161       TARRANT        32
162        TAYLOR         2
163         TERRY         1
164  THROCKMORTON         1
165         TITUS         1
166     TOM GREEN         3
167        TRAVIS        15
168       TRINITY         1
169         TYLER         1
170        UPSHUR         1
171         UPTON         3
172        UVALDE         1
173     VAL VERDE         1
174     VAN ZANDT         1
175      VICTORIA         3
176        WALKER         1
177          WARD         1
178    WASHINGTON         1
179          WEBB         2
180       WHARTON         2
181       WHEELER         2
182       WICHITA         3
183     WILBARGER         1
184    WILLIAMSON         8
185        WILSON         1
186       WINKLER         1
187          WISE         2
188          WOOD         2
189        YOAKUM         1
190         YOUNG         2

[191 rows x 2 columns]

In [10]:
tmp_df2 = h_df.groupby(['county']).beds.agg('sum')
tmp_df2 = tmp_df2.to_frame().reset_index()
tmp_df2 = tmp_df2.rename({'beds': 'bed_cnt'}, axis='columns')
tmp_df2

           county  bed_cnt
0        ANDERSON     86.0
1         ANDREWS     34.0
2        ANGELINA    420.0
3        ATASCOSA     67.0
4          AUSTIN     32.0
5          BAILEY     25.0
6         BASTROP      8.0
7          BAYLOR     49.0
8             BEE     69.0
9            BELL    896.0
10          BEXAR   6865.0
11         BOSQUE     25.0
12          BOWIE    682.0
13       BRAZORIA    357.0
14         BRAZOS    537.0
15       BREWSTER     25.0
16          BROWN    194.0
17       BURLESON     25.0
18         BURNET     71.0
19       CALDWELL     25.0
20        CALHOUN     25.0
21        CAMERON   1249.0
22           CAMP     25.0
23           CASS     68.0
24         CASTRO     17.0
25       CHAMBERS     39.0
26       CHEROKEE     99.0
27      CHILDRESS     39.0
28           CLAY     25.0
29        COCHRAN     18.0
..            ...      ...
161       TARRANT   5442.0
162        TAYLOR    753.0
163         TERRY     45.0
164  THROCKMORTON     14.0
165         TITUS    164.0
166     TOM GREEN    534.0
167        TRAVIS   2712.0
168       TRINITY     45.0
169         TYLER     49.0
170        UPSHUR     37.0
171         UPTON     44.0
172        UVALDE     25.0
173     VAL VERDE     93.0
174     VAN ZANDT     52.0
175      VICTORIA    648.0
176        WALKER    123.0
177          WARD     25.0
178    WASHINGTON     60.0
179          WEBB    506.0
180       WHARTON    210.0
181       WHEELER     41.0
182       WICHITA    391.0
183     WILBARGER     47.0
184    WILLIAMSON    690.0
185        WILSON     44.0
186       WINKLER     19.0
187          WISE    135.0
188          WOOD     50.0
189        YOAKUM     24.0
190         YOUNG     67.0

[191 rows x 2 columns]

In [11]:
h_df = tmp_df.join(tmp_df2.set_index('county'), on='county')
h_df

           county  hosp_cnt  bed_cnt
0        ANDERSON         1     86.0
1         ANDREWS         1     34.0
2        ANGELINA         2    420.0
3        ATASCOSA         1     67.0
4          AUSTIN         1     32.0
5          BAILEY         1     25.0
6         BASTROP         1      8.0
7          BAYLOR         1     49.0
8             BEE         1     69.0
9            BELL         7    896.0
10          BEXAR        33   6865.0
11         BOSQUE         1     25.0
12          BOWIE         2    682.0
13       BRAZORIA         5    357.0
14         BRAZOS         4    537.0
15       BREWSTER         1     25.0
16          BROWN         1    194.0
17       BURLESON         1     25.0
18         BURNET         2     71.0
19       CALDWELL         1     25.0
20        CALHOUN         1     25.0
21        CAMERON         6   1249.0
22           CAMP         1     25.0
23           CASS         2     68.0
24         CASTRO         1     17.0
25       CHAMBERS         2     39.0
26       CHEROKEE         2     99.0
27      CHILDRESS         1     39.0
28           CLAY         1     25.0
29        COCHRAN         1     18.0
..            ...       ...      ...
161       TARRANT        32   5442.0
162        TAYLOR         2    753.0
163         TERRY         1     45.0
164  THROCKMORTON         1     14.0
165         TITUS         1    164.0
166     TOM GREEN         3    534.0
167        TRAVIS        15   2712.0
168       TRINITY         1     45.0
169         TYLER         1     49.0
170        UPSHUR         1     37.0
171         UPTON         3     44.0
172        UVALDE         1     25.0
173     VAL VERDE         1     93.0
174     VAN ZANDT         1     52.0
175      VICTORIA         3    648.0
176        WALKER         1    123.0
177          WARD         1     25.0
178    WASHINGTON         1     60.0
179          WEBB         2    506.0
180       WHARTON         2    210.0
181       WHEELER         2     41.0
182       WICHITA         3    391.0
183     WILBARGER         1     47.0
184    WILLIAMSON         8    690.0
185        WILSON         1     44.0
186       WINKLER         1     19.0
187          WISE         2    135.0
188          WOOD         2     50.0
189        YOAKUM         1     24.0
190         YOUNG         2     67.0

[191 rows x 3 columns]

### Get fire station count by county and join to f_df

In [12]:
f_df.head()

    county   fire_id
0  EL PASO  10410064
1  EL PASO  10410225
2  EL PASO  10139838
3  EL PASO  10139423
4  EL PASO  10410065

In [13]:
tmp_df3 = f_df.groupby(['county']).fire_id.agg('count')
tmp_df3 = tmp_df3.to_frame().reset_index()
tmp_df3 = tmp_df3.rename({'fire_id': 'fire_cnt'}, axis='columns')
tmp_df3

         county  fire_cnt
0      ANDERSON        21
1       ANDREWS         1
2      ANGELINA        18
3       ARANSAS         5
4        ARCHER         7
5     ARMSTRONG         2
6      ATASCOSA         2
7        AUSTIN         5
8        BAILEY         1
9       BANDERA         6
10      BASTROP        11
11       BAYLOR         1
12          BEE         6
13         BELL        33
14        BEXAR        88
15       BLANCO         3
16       BORDEN         1
17       BOSQUE        11
18        BOWIE        20
19     BRAZORIA        32
20       BRAZOS        21
21     BREWSTER         3
22      BRISCOE         2
23       BROOKS         1
24        BROWN        12
25     BURLESON         8
26       BURNET        10
27     CALDWELL        13
28      CALHOUN         7
29     CALLAHAN         6
..          ...       ...
219       TITUS         5
220   TOM GREEN        18
221      TRAVIS        76
222     TRINITY         2
223       TYLER         6
224      UPSHUR         9
225       UPTON         1
226      UVALDE         4
227   VAL VERDE         9
228   VAN ZANDT        12
229    VICTORIA        18
230      WALKER        10
231      WALLER        10
232        WARD         3
233  WASHINGTON         6
234        WEBB        17
235     WHARTON         4
236     WHEELER         6
237     WICHITA        20
238   WILBARGER         2
239     WILLACY         2
240  WILLIAMSON        31
241      WILSON        10
242     WINKLER         2
243        WISE        19
244        WOOD        10
245      YOAKUM         2
246       YOUNG         6
247      ZAPATA         3
248      ZAVALA         1

[249 rows x 2 columns]

### Merge hospital dataframe and fire station dataframe

In [14]:
hf_df = tmp_df3.join(h_df.set_index('county'), on='county')
hf_df

         county  fire_cnt  hosp_cnt  bed_cnt
0      ANDERSON        21       1.0     86.0
1       ANDREWS         1       1.0     34.0
2      ANGELINA        18       2.0    420.0
3       ARANSAS         5       NaN      NaN
4        ARCHER         7       NaN      NaN
5     ARMSTRONG         2       NaN      NaN
6      ATASCOSA         2       1.0     67.0
7        AUSTIN         5       1.0     32.0
8        BAILEY         1       1.0     25.0
9       BANDERA         6       NaN      NaN
10      BASTROP        11       1.0      8.0
11       BAYLOR         1       1.0     49.0
12          BEE         6       1.0     69.0
13         BELL        33       7.0    896.0
14        BEXAR        88      33.0   6865.0
15       BLANCO         3       NaN      NaN
16       BORDEN         1       NaN      NaN
17       BOSQUE        11       1.0     25.0
18        BOWIE        20       2.0    682.0
19     BRAZORIA        32       5.0    357.0
20       BRAZOS        21       4.0    537.0
21     BREWSTER         3       1.0     25.0
22      BRISCOE         2       NaN      NaN
23       BROOKS         1       NaN      NaN
24        BROWN        12       1.0    194.0
25     BURLESON         8       1.0     25.0
26       BURNET        10       2.0     71.0
27     CALDWELL        13       1.0     25.0
28      CALHOUN         7       1.0     25.0
29     CALLAHAN         6       NaN      NaN
..          ...       ...       ...      ...
219       TITUS         5       1.0    164.0
220   TOM GREEN        18       3.0    534.0
221      TRAVIS        76      15.0   2712.0
222     TRINITY         2       1.0     45.0
223       TYLER         6       1.0     49.0
224      UPSHUR         9       1.0     37.0
225       UPTON         1       3.0     44.0
226      UVALDE         4       1.0     25.0
227   VAL VERDE         9       1.0     93.0
228   VAN ZANDT        12       1.0     52.0
229    VICTORIA        18       3.0    648.0
230      WALKER        10       1.0    123.0
231      WALLER        10       NaN      NaN
232        WARD         3       1.0     25.0
233  WASHINGTON         6       1.0     60.0
234        WEBB        17       2.0    506.0
235     WHARTON         4       2.0    210.0
236     WHEELER         6       2.0     41.0
237     WICHITA        20       3.0    391.0
238   WILBARGER         2       1.0     47.0
239     WILLACY         2       NaN      NaN
240  WILLIAMSON        31       8.0    690.0
241      WILSON        10       1.0     44.0
242     WINKLER         2       1.0     19.0
243        WISE        19       2.0    135.0
244        WOOD        10       2.0     50.0
245      YOAKUM         2       1.0     24.0
246       YOUNG         6       2.0     67.0
247      ZAPATA         3       NaN      NaN
248      ZAVALA         1       NaN      NaN

[249 rows x 4 columns]

### Join to training dataframe

In [15]:
train_df = crime_df.join(hf_df.set_index('county'), on='county')

In [16]:
train_df.head(3).T

,0,1,2
incident_id,67693343,67693344,67693345
date_part,2013,2013,2013
age_num,46,57,51
victim_sex,F,M,F
crime_against,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses
location_id,20,18,18
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage
county,POTTER,POTTER,POTTER
population,198770,198770,198770
population_description,"Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000","Cities from 100,000 thru 249,000"
officers,343,343,343
civilians,68,68,68
crime_cnt,47721,47721,47721
fire_cnt,12,12,12
hosp_cnt,5,5,5
bed_cnt,878,878,878

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463095 entries, 0 to 463094
Data columns (total 18 columns):
incident_id               463095 non-null int64
date_part                 463095 non-null int64
age_num                   456081 non-null float64
victim_sex                463095 non-null object
crime_against             463095 non-null object
offense                   463095 non-null object
offense_category          463095 non-null object
location_id               463095 non-null int64
location_name             463095 non-null object
county                    463095 non-null object
population                463095 non-null int64
population_description    463095 non-null object
officers                  463095 non-null int64
civilians                 463095 non-null int64
crime_cnt                 463095 non-null int64
fire_cnt                  463095 non-null int64
hosp_cnt                  461467 non-null float64
bed_cnt                   461467 non-null float64
dtypes: float64(3), int64(8), object(7)
memory usage: 63.6+ MB

In [18]:
train_df[train_df.population < 1]

,incident_id,date_part,age_num,victim_sex,crime_against,offense,offense_category,location_id,location_name,county,population,population_description,officers,civilians,crime_cnt,fire_cnt,hosp_cnt,bed_cnt
18989,67831964,2013,22.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18990,67831966,2013,18.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18991,67831968,2013,18.0,F,Property,Shoplifting,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18992,67831969,2013,21.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18993,67831971,2013,20.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18994,67831972,2013,18.0,F,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18995,67831973,2013,18.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18996,67831974,2013,19.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18997,67831975,2013,20.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18998,67831976,2013,23.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
18999,67831977,2013,18.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19000,67831978,2013,18.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19001,67831979,2013,27.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19002,67831980,2013,20.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19003,67831981,2013,19.0,F,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19004,67831982,2013,19.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19005,67831984,2013,27.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19006,67831985,2013,20.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19007,67831987,2013,19.0,F,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19008,67831991,2013,19.0,F,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19009,67831992,2013,20.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19010,67831994,2013,29.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19011,67831995,2013,20.0,F,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19012,67831997,2013,20.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19013,67831998,2013,21.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19014,67831999,2013,18.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19015,67832000,2013,19.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19016,67832001,2013,20.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19017,67832002,2013,22.0,F,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
19018,67832003,2013,19.0,M,Property,All Other Larceny,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458700,87835081,2015,47.0,F,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
458702,87836750,2015,52.0,F,Person,Simple Assault,Assault Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
458707,87837649,2015,46.0,F,Property,All Other Larceny,Larceny/Theft Offenses,25,Other/Unknown,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459954,88243160,2015,49.0,F,Property,All Other Larceny,Larceny/Theft Offenses,25,Other/Unknown,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459958,88243200,2015,54.0,M,Property,Motor Vehicle Theft,Motor Vehicle Theft,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459960,88243218,2015,42.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459983,88243851,2015,50.0,F,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459985,88243866,2015,44.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459986,88243867,2015,37.0,M,Property,Motor Vehicle Theft,Motor Vehicle Theft,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459989,88243924,2015,29.0,M,Property,Theft From Building,Larceny/Theft Offenses,5,Commercial/Office Building,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459991,88243934,2015,54.0,F,Property,Theft of Motor Vehicle Parts or Accessories,Larceny/Theft Offenses,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459992,88243937,2015,36.0,M,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
459998,88243986,2015,32.0,F,Property,Theft of Motor Vehicle Parts or Accessories,Larceny/Theft Offenses,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
460371,88457417,2015,41.0,M,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
460377,88458151,2015,53.0,F,Property,All Other Larceny,Larceny/Theft Offenses,25,Other/Unknown,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
460378,88458686,2015,45.0,F,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
460977,88564278,2015,19.0,F,Person,Simple Assault,Assault Offenses,25,Other/Unknown,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
460981,88565029,2015,19.0,F,Person,Simple Assault,Assault Offenses,25,Other/Unknown,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
461175,88592303,2015,31.0,M,Property,Theft of Motor Vehicle Parts or Accessories,Larceny/Theft Offenses,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
461176,88592304,2015,27.0,F,Property,Theft of Motor Vehicle Parts or Accessories,Larceny/Theft Offenses,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
461177,88592306,2015,39.0,M,Property,Theft of Motor Vehicle Parts or Accessories,Larceny/Theft Offenses,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
461178,88592308,2015,63.0,M,Property,Theft of Motor Vehicle Parts or Accessories,Larceny/Theft Offenses,18,Parking/Drop Lot/Garage,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
462387,89610033,2015,20.0,M,Property,Theft From Building,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
462389,89610774,2015,20.0,F,Property,Theft From Building,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
462390,89610796,2015,18.0,M,Property,Theft From Building,Larceny/Theft Offenses,22,School/College,SMITH,0,"Cities under 2,500",20,6,19368,25,5.0,1052.0
462783,90896349,2015,24.0,M,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
462784,90896367,2015,53.0,M,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
462785,90896558,2015,43.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
462786,90896560,2015,60.0,M,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0
462787,90896583,2015,55.0,F,Property,Theft From Building,Larceny/Theft Offenses,1,Air/Bus/Train Terminal,TARRANT,0,"Cities under 2,500",167,39,152225,113,32.0,5442.0

### Get crime count by county for label_df

In [19]:
tmp_df5 = label_df.groupby(['county']).incident_id.agg('count')
tmp_df5 = tmp_df5.to_frame().reset_index()
tmp_df5 = tmp_df5.rename({'incident_id': 'crime_cnt'}, axis='columns')
tmp_df5

          county  crime_cnt
0           BELL       3348
1          BEXAR        400
2       BRAZORIA       3043
3       BREWSTER         70
4         BURNET        343
5        CALHOUN        772
6        CAMERON          2
7         COLLIN      16937
8        CORYELL        115
9         DALLAS       4417
10       DE WITT        314
11        DENTON      11042
12        GOLIAD        200
13         GREGG       5629
14      HARDEMAN         63
15        HARDIN        387
16        HARRIS       1208
17       HIDALGO        301
18          HUNT        110
19    HUTCHINSON        363
20       JACKSON        315
21     JEFFERSON        180
22       JOHNSON       1372
23       KAUFMAN       2896
24       KENDALL        293
25         LAMAR         91
26      LAMPASAS        150
27        LAVACA        129
28          LEON         37
29       LUBBOCK       1436
30       MADISON         31
31      MCLENNAN       2131
32         MILAM         32
33    MONTGOMERY       3019
34   NACOGDOCHES       2491
35     OCHILTREE         50
36        PARKER       1676
37          POLK        808
38        POTTER      16830
39       RANDALL        104
40      ROCKWALL       1715
41          RUSK       2228
42  SAN PATRICIO        428
43      SAN SABA         49
44        SHELBY         28
45         SMITH       6313
46         STARR         32
47       TARRANT      50111
48     TOM GREEN       9119
49        TRAVIS        490
50      VICTORIA       4920
51        WALKER        869
52       WHARTON        772
53       WICHITA        149
54       WILLACY        116
55    WILLIAMSON       1617
56          WISE        208
57         YOUNG         33
58        ZAVALA        218

### Join to testing dataframe

In [20]:
label_df = label_df.join(tmp_df5.set_index('county'), on='county')

In [21]:
label_df.head().T

,0,1,2,3,4
incident_id,87264241,87264244,87264248,87264256,87264264
date_part,2016,2016,2016,2016,2016
age_num,59,50,26,25,26
victim_sex,F,M,F,F,M
crime_against,Property,Property,Property,Person,Property
offense,Theft From Motor Vehicle,Credit Card/Automated Teller Machine Fraud,All Other Larceny,Simple Assault,All Other Larceny
offense_category,Larceny/Theft Offenses,Fraud Offenses,Larceny/Theft Offenses,Assault Offenses,Larceny/Theft Offenses
location_id,18,20,20,20,20
location_name,Parking/Drop Lot/Garage,Residence/Home,Residence/Home,Residence/Home,Residence/Home
county,BURNET,BURNET,BURNET,CAMERON,CAMERON
population,6212,6212,6212,645,645
population_description,"Cities from 2,500 thru 9,999","Cities from 2,500 thru 9,999","Cities from 2,500 thru 9,999","Cities under 2,500","Cities under 2,500"
officers,19,19,19,2,2
civilians,13,13,13,0,0
crime_cnt,343,343,343,2,2

### Join hospital and fire station counts to testing dataframe

In [22]:
test_df = label_df.join(hf_df.set_index('county'), on='county')

In [23]:
test_df.head(3).T

,0,1,2
incident_id,87264241,87264244,87264248
date_part,2016,2016,2016
age_num,59,50,26
victim_sex,F,M,F
crime_against,Property,Property,Property
offense,Theft From Motor Vehicle,Credit Card/Automated Teller Machine Fraud,All Other Larceny
offense_category,Larceny/Theft Offenses,Fraud Offenses,Larceny/Theft Offenses
location_id,18,20,20
location_name,Parking/Drop Lot/Garage,Residence/Home,Residence/Home
county,BURNET,BURNET,BURNET
population,6212,6212,6212
population_description,"Cities from 2,500 thru 9,999","Cities from 2,500 thru 9,999","Cities from 2,500 thru 9,999"
officers,19,19,19
civilians,13,13,13
crime_cnt,343,343,343
fire_cnt,10,10,10
hosp_cnt,2,2,2
bed_cnt,71,71,71

In [24]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162550 entries, 0 to 162549
Data columns (total 18 columns):
incident_id               162550 non-null int64
date_part                 162550 non-null int64
age_num                   160057 non-null float64
victim_sex                162550 non-null object
crime_against             162550 non-null object
offense                   162550 non-null object
offense_category          162550 non-null object
location_id               162550 non-null int64
location_name             162550 non-null object
county                    162550 non-null object
population                162550 non-null int64
population_description    162550 non-null object
officers                  162550 non-null int64
civilians                 162550 non-null int64
crime_cnt                 162550 non-null int64
fire_cnt                  162550 non-null int64
hosp_cnt                  161323 non-null float64
bed_cnt                   161323 non-null float64
dtypes: float64(3), int64(8), object(7)
memory usage: 22.3+ MB

## Pass training and testing dataframes through feature engineering script

In [ ]:
from Features_Script import feature_engineering

trn_df, tst_df = feature_engineering(train_df, test_df)

### Do the feature engineering manually in jupyter

In [ ]:
# Drop NA in victim age column (<2%)
train_df.dropna(axis=0, subset=['age_num'], inplace=True)

# Drop NA in hospital_cnt column (<2%)
train_df.dropna(axis=0, subset=['hosp_cnt'], inplace=True)

# Create Ratio Columns
train_df['crime_pop_ratio'] = train_df['crime_cnt'] / train_df['population']
train_df['beds_pop_ratio'] = train_df['bed_cnt'] / train_df['population']
train_df['beds_crime_ratio'] = train_df['bed_cnt'] / train_df['crime_cnt']
train_df['fire_pop_ratio'] = train_df['fire_cnt'] / train_df['population']
train_df['fire_crime_ratio'] = train_df['fire_cnt'] / train_df['crime_cnt']

# Reduce df to only desired features to train/test model
train_df = train_df[['age_num', 'victim_sex', 'offense_category', 'location_id', 'population_description',
                     'officers', 'civilians', 'crime_pop_ratio', 'beds_pop_ratio', 'beds_crime_ratio',
                     'fire_pop_ratio', 'fire_crime_ratio', 'county']]

# Dummize features
train_df = pd.get_dummies(train_df, columns=['victim_sex', 'offense_category', 'location_id', 'population_description'])

### Confirm script and manual produce identical results

In [ ]:
train_df.equals(trn_df)

### Split data into training and testing sets

In [ ]:
y_train = trn_df.pop('county').values
X_train = trn_df.values
y_test = tst_df.pop('county').values
X_test = tst_df.values

### Confirm shapes match

In [ ]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

## Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, precision_score, accuracy_score, recall_score, precision_recall_fscore_support

### Train Model

In [ ]:
clf = RandomForestClassifier(oob_score=True, n_estimators=100, max_depth=50, max_features='auto')
clf.fit(X_train, y_train)

### Get Predictions

In [ ]:
preds = clf.predict(X_test)
proba_preds = clf.predict_proba(X_test)

### Calculate Scores

In [ ]:
# calculate scores
precision_micro = precision_score(y_test, preds, average = 'micro')
precision_macro = precision_score(y_test, preds, average = 'macro')
precision_weighted = precision_score(y_test, preds, average = 'weighted')

recall_micro = recall_score(y_test, preds, average = 'micro')
recall_macro = recall_score(y_test, preds, average = 'macro')
recall_weighted = recall_score(y_test, preds, average = 'weighted')

F_1_micro = 2 / ((1/precision_micro) + (1/recall_micro))
F_1_macro = 2 / ((1/precision_macro) + (1/recall_macro))
F_1_weighted = 2 / ((1/precision_weighted) + (1/recall_weighted))

oob=clf.oob_score_
acc = accuracy_score(y_test, preds)

prfs_micro = precision_recall_fscore_support(y_test, preds, average='micro')
prfs_macro = precision_recall_fscore_support(y_test, preds, average='macro')
prfs_weighted = precision_recall_fscore_support(y_test, preds, average='weighted')


print('Precision Scores:', precision_micro, precision_macro, precision_weighted)
print('Recall Scores:', recall_micro, recall_macro, recall_weighted)
print('F 1 Scores:', F_1_micro, F_1_macro, F_1_weighted)
print('oob Score:', oob)
print('Accuracy Score:', acc)
print('PRF_Support Scores:', prfs_micro, prfs_macro, prfs_weighted)