# Intelligent Model: Random Forest Classifier

In [1]:
import pandas as pd

### Read in query outputs to dataframes

In [2]:
crime_df = pd.read_csv('crime_query.csv')
label_df = pd.read_csv('label_query.csv')
h_df = pd.read_csv('hosp_query.csv')
f_df = pd.read_csv('fire_query.csv')
pop_df = pd.read_csv('census_population.csv')

In [3]:
crime_df.head().T

,0,1,2,3,4
incident_id,67693343,67693344,67693345,67693346,67693348
year,2013,2013,2013,2013,2013
age_num,46,57,51,24,49
victim_sex,F,M,F,M,M
crime_against,Property,Property,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle,All Other Larceny,Burglary/Breaking & Entering
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Burglary/Breaking & Entering
location_id,20,18,18,5,20
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage,Commercial/Office Building,Residence/Home
county,POTTER,POTTER,POTTER,POTTER,POTTER
officers,343,343,343,343,343
civilians,68,68,68,68,68

### Get crime count by county and join to crime_df

In [4]:
tmp_df4 = crime_df.groupby(['county']).incident_id.agg('count')
tmp_df4 = tmp_df4.to_frame().reset_index()
tmp_df4 = tmp_df4.rename({'incident_id': 'crime_cnt'}, axis='columns')
tmp_df4

         county  crime_cnt
0          BELL      10240
1         BEXAR         35
2      BRAZORIA       9487
3      BREWSTER         61
4        BURNET       1303
5       CALHOUN       1634
6       CAMERON          3
7      CHEROKEE        396
8          COKE          2
9        COLLIN      55442
10       DALLAS      13648
11      DE WITT        675
12       DENTON      30263
13       GOLIAD        520
14      GRAYSON       1356
15        GREGG      16945
16     HARDEMAN         43
17       HARDIN       1237
18       HARRIS       3542
19      HIDALGO         24
20         HUNT        318
21      JACKSON        926
22      JOHNSON       4792
23      KAUFMAN       8007
24       LAVACA        453
25         LEON         16
26        LLANO        233
27      LUBBOCK       4204
28     MCLENNAN       3440
29        MILAM         24
30   MONTGOMERY       7821
31  NACOGDOCHES       2644
32        NOLAN        869
33       PARKER       1737
34         POLK       4734
35       POTTER      47721
36     ROCKWALL       5351
37         RUSK       5918
38     SAN SABA        243
39        SMITH      19368
40      TARRANT     152225
41    TOM GREEN      22908
42       TRAVIS        785
43     VICTORIA      15109
44      WHARTON       1939
45      WICHITA        587
46      WILLACY         59
47   WILLIAMSON       3695
48       ZAVALA        113

In [5]:
crime_df = crime_df.join(tmp_df4.set_index('county'), on='county')

In [6]:
crime_df.head().T

,0,1,2,3,4
incident_id,67693343,67693344,67693345,67693346,67693348
year,2013,2013,2013,2013,2013
age_num,46,57,51,24,49
victim_sex,F,M,F,M,M
crime_against,Property,Property,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle,All Other Larceny,Burglary/Breaking & Entering
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Burglary/Breaking & Entering
location_id,20,18,18,5,20
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage,Commercial/Office Building,Residence/Home
county,POTTER,POTTER,POTTER,POTTER,POTTER
officers,343,343,343,343,343
civilians,68,68,68,68,68
crime_cnt,47721,47721,47721,47721,47721

### Get hospital and bed counts by county and join to h_df

In [7]:
h_df.head()

     county   hosp_id    beds
0    HARRIS  25577030  1082.0
1     JONES   3379501    45.0
2    COLLIN    475013    73.0
3    POTTER    679106   451.0
4  BRAZORIA   1177515    64.0

In [8]:
h_df['beds'] = h_df['beds'].clip_lower(1)

In [9]:
tmp_df = h_df.groupby(['county']).hosp_id.agg('count')
tmp_df = tmp_df.to_frame().reset_index()
tmp_df = tmp_df.rename({'hosp_id': 'hosp_cnt'}, axis='columns')
tmp_df

           county  hosp_cnt
0        ANDERSON         1
1         ANDREWS         1
2        ANGELINA         2
3        ATASCOSA         1
4          AUSTIN         1
5          BAILEY         1
6         BASTROP         1
7          BAYLOR         1
8             BEE         1
9            BELL         7
10          BEXAR        33
11         BOSQUE         1
12          BOWIE         2
13       BRAZORIA         5
14         BRAZOS         4
15       BREWSTER         1
16          BROWN         1
17       BURLESON         1
18         BURNET         2
19       CALDWELL         1
20        CALHOUN         1
21        CAMERON         6
22           CAMP         1
23           CASS         2
24         CASTRO         1
25       CHAMBERS         2
26       CHEROKEE         2
27      CHILDRESS         1
28           CLAY         1
29        COCHRAN         1
..            ...       ...
161       TARRANT        32
162        TAYLOR         2
163         TERRY         1
164  THROCKMORTON         1
165         TITUS         1
166     TOM GREEN         3
167        TRAVIS        15
168       TRINITY         1
169         TYLER         1
170        UPSHUR         1
171         UPTON         3
172        UVALDE         1
173     VAL VERDE         1
174     VAN ZANDT         1
175      VICTORIA         3
176        WALKER         1
177          WARD         1
178    WASHINGTON         1
179          WEBB         2
180       WHARTON         2
181       WHEELER         2
182       WICHITA         3
183     WILBARGER         1
184    WILLIAMSON         8
185        WILSON         1
186       WINKLER         1
187          WISE         2
188          WOOD         2
189        YOAKUM         1
190         YOUNG         2

[191 rows x 2 columns]

In [10]:
tmp_df2 = h_df.groupby(['county']).beds.agg('sum')
tmp_df2 = tmp_df2.to_frame().reset_index()
tmp_df2 = tmp_df2.rename({'beds': 'bed_cnt'}, axis='columns')
tmp_df2

           county  bed_cnt
0        ANDERSON     86.0
1         ANDREWS     34.0
2        ANGELINA    420.0
3        ATASCOSA     67.0
4          AUSTIN     32.0
5          BAILEY     25.0
6         BASTROP      8.0
7          BAYLOR     49.0
8             BEE     69.0
9            BELL    896.0
10          BEXAR   6865.0
11         BOSQUE     25.0
12          BOWIE    682.0
13       BRAZORIA    357.0
14         BRAZOS    537.0
15       BREWSTER     25.0
16          BROWN    194.0
17       BURLESON     25.0
18         BURNET     71.0
19       CALDWELL     25.0
20        CALHOUN     25.0
21        CAMERON   1249.0
22           CAMP     25.0
23           CASS     68.0
24         CASTRO     17.0
25       CHAMBERS     39.0
26       CHEROKEE     99.0
27      CHILDRESS     39.0
28           CLAY     25.0
29        COCHRAN     18.0
..            ...      ...
161       TARRANT   5442.0
162        TAYLOR    753.0
163         TERRY     45.0
164  THROCKMORTON     14.0
165         TITUS    164.0
166     TOM GREEN    534.0
167        TRAVIS   2712.0
168       TRINITY     45.0
169         TYLER     49.0
170        UPSHUR     37.0
171         UPTON     44.0
172        UVALDE     25.0
173     VAL VERDE     93.0
174     VAN ZANDT     52.0
175      VICTORIA    648.0
176        WALKER    123.0
177          WARD     25.0
178    WASHINGTON     60.0
179          WEBB    506.0
180       WHARTON    210.0
181       WHEELER     41.0
182       WICHITA    391.0
183     WILBARGER     47.0
184    WILLIAMSON    690.0
185        WILSON     44.0
186       WINKLER     19.0
187          WISE    135.0
188          WOOD     50.0
189        YOAKUM     24.0
190         YOUNG     67.0

[191 rows x 2 columns]

In [11]:
h_df = tmp_df.join(tmp_df2.set_index('county'), on='county')
h_df

           county  hosp_cnt  bed_cnt
0        ANDERSON         1     86.0
1         ANDREWS         1     34.0
2        ANGELINA         2    420.0
3        ATASCOSA         1     67.0
4          AUSTIN         1     32.0
5          BAILEY         1     25.0
6         BASTROP         1      8.0
7          BAYLOR         1     49.0
8             BEE         1     69.0
9            BELL         7    896.0
10          BEXAR        33   6865.0
11         BOSQUE         1     25.0
12          BOWIE         2    682.0
13       BRAZORIA         5    357.0
14         BRAZOS         4    537.0
15       BREWSTER         1     25.0
16          BROWN         1    194.0
17       BURLESON         1     25.0
18         BURNET         2     71.0
19       CALDWELL         1     25.0
20        CALHOUN         1     25.0
21        CAMERON         6   1249.0
22           CAMP         1     25.0
23           CASS         2     68.0
24         CASTRO         1     17.0
25       CHAMBERS         2     39.0
26       CHEROKEE         2     99.0
27      CHILDRESS         1     39.0
28           CLAY         1     25.0
29        COCHRAN         1     18.0
..            ...       ...      ...
161       TARRANT        32   5442.0
162        TAYLOR         2    753.0
163         TERRY         1     45.0
164  THROCKMORTON         1     14.0
165         TITUS         1    164.0
166     TOM GREEN         3    534.0
167        TRAVIS        15   2712.0
168       TRINITY         1     45.0
169         TYLER         1     49.0
170        UPSHUR         1     37.0
171         UPTON         3     44.0
172        UVALDE         1     25.0
173     VAL VERDE         1     93.0
174     VAN ZANDT         1     52.0
175      VICTORIA         3    648.0
176        WALKER         1    123.0
177          WARD         1     25.0
178    WASHINGTON         1     60.0
179          WEBB         2    506.0
180       WHARTON         2    210.0
181       WHEELER         2     41.0
182       WICHITA         3    391.0
183     WILBARGER         1     47.0
184    WILLIAMSON         8    690.0
185        WILSON         1     44.0
186       WINKLER         1     19.0
187          WISE         2    135.0
188          WOOD         2     50.0
189        YOAKUM         1     24.0
190         YOUNG         2     67.0

[191 rows x 3 columns]

### Get fire station count by county and join to f_df

In [12]:
f_df.head()

    county   fire_id
0  EL PASO  10410064
1  EL PASO  10410225
2  EL PASO  10139838
3  EL PASO  10139423
4  EL PASO  10410065

In [13]:
tmp_df3 = f_df.groupby(['county']).fire_id.agg('count')
tmp_df3 = tmp_df3.to_frame().reset_index()
tmp_df3 = tmp_df3.rename({'fire_id': 'fire_cnt'}, axis='columns')
tmp_df3

         county  fire_cnt
0      ANDERSON        21
1       ANDREWS         1
2      ANGELINA        18
3       ARANSAS         5
4        ARCHER         7
5     ARMSTRONG         2
6      ATASCOSA         2
7        AUSTIN         5
8        BAILEY         1
9       BANDERA         6
10      BASTROP        11
11       BAYLOR         1
12          BEE         6
13         BELL        33
14        BEXAR        88
15       BLANCO         3
16       BORDEN         1
17       BOSQUE        11
18        BOWIE        20
19     BRAZORIA        32
20       BRAZOS        21
21     BREWSTER         3
22      BRISCOE         2
23       BROOKS         1
24        BROWN        12
25     BURLESON         8
26       BURNET        10
27     CALDWELL        13
28      CALHOUN         7
29     CALLAHAN         6
..          ...       ...
219       TITUS         5
220   TOM GREEN        18
221      TRAVIS        76
222     TRINITY         2
223       TYLER         6
224      UPSHUR         9
225       UPTON         1
226      UVALDE         4
227   VAL VERDE         9
228   VAN ZANDT        12
229    VICTORIA        18
230      WALKER        10
231      WALLER        10
232        WARD         3
233  WASHINGTON         6
234        WEBB        17
235     WHARTON         4
236     WHEELER         6
237     WICHITA        20
238   WILBARGER         2
239     WILLACY         2
240  WILLIAMSON        31
241      WILSON        10
242     WINKLER         2
243        WISE        19
244        WOOD        10
245      YOAKUM         2
246       YOUNG         6
247      ZAPATA         3
248      ZAVALA         1

[249 rows x 2 columns]

### Merge hospital dataframe and fire station dataframe

In [14]:
hf_df = tmp_df3.join(h_df.set_index('county'), on='county')
hf_df

         county  fire_cnt  hosp_cnt  bed_cnt
0      ANDERSON        21       1.0     86.0
1       ANDREWS         1       1.0     34.0
2      ANGELINA        18       2.0    420.0
3       ARANSAS         5       NaN      NaN
4        ARCHER         7       NaN      NaN
5     ARMSTRONG         2       NaN      NaN
6      ATASCOSA         2       1.0     67.0
7        AUSTIN         5       1.0     32.0
8        BAILEY         1       1.0     25.0
9       BANDERA         6       NaN      NaN
10      BASTROP        11       1.0      8.0
11       BAYLOR         1       1.0     49.0
12          BEE         6       1.0     69.0
13         BELL        33       7.0    896.0
14        BEXAR        88      33.0   6865.0
15       BLANCO         3       NaN      NaN
16       BORDEN         1       NaN      NaN
17       BOSQUE        11       1.0     25.0
18        BOWIE        20       2.0    682.0
19     BRAZORIA        32       5.0    357.0
20       BRAZOS        21       4.0    537.0
21     BREWSTER         3       1.0     25.0
22      BRISCOE         2       NaN      NaN
23       BROOKS         1       NaN      NaN
24        BROWN        12       1.0    194.0
25     BURLESON         8       1.0     25.0
26       BURNET        10       2.0     71.0
27     CALDWELL        13       1.0     25.0
28      CALHOUN         7       1.0     25.0
29     CALLAHAN         6       NaN      NaN
..          ...       ...       ...      ...
219       TITUS         5       1.0    164.0
220   TOM GREEN        18       3.0    534.0
221      TRAVIS        76      15.0   2712.0
222     TRINITY         2       1.0     45.0
223       TYLER         6       1.0     49.0
224      UPSHUR         9       1.0     37.0
225       UPTON         1       3.0     44.0
226      UVALDE         4       1.0     25.0
227   VAL VERDE         9       1.0     93.0
228   VAN ZANDT        12       1.0     52.0
229    VICTORIA        18       3.0    648.0
230      WALKER        10       1.0    123.0
231      WALLER        10       NaN      NaN
232        WARD         3       1.0     25.0
233  WASHINGTON         6       1.0     60.0
234        WEBB        17       2.0    506.0
235     WHARTON         4       2.0    210.0
236     WHEELER         6       2.0     41.0
237     WICHITA        20       3.0    391.0
238   WILBARGER         2       1.0     47.0
239     WILLACY         2       NaN      NaN
240  WILLIAMSON        31       8.0    690.0
241      WILSON        10       1.0     44.0
242     WINKLER         2       1.0     19.0
243        WISE        19       2.0    135.0
244        WOOD        10       2.0     50.0
245      YOAKUM         2       1.0     24.0
246       YOUNG         6       2.0     67.0
247      ZAPATA         3       NaN      NaN
248      ZAVALA         1       NaN      NaN

[249 rows x 4 columns]

### Join to training dataframe

In [15]:
train_df = crime_df.join(hf_df.set_index('county'), on='county')

In [16]:
train_df.head().T

,0,1,2,3,4
incident_id,67693343,67693344,67693345,67693346,67693348
year,2013,2013,2013,2013,2013
age_num,46,57,51,24,49
victim_sex,F,M,F,M,M
crime_against,Property,Property,Property,Property,Property
offense,All Other Larceny,Theft From Motor Vehicle,Theft From Motor Vehicle,All Other Larceny,Burglary/Breaking & Entering
offense_category,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Larceny/Theft Offenses,Burglary/Breaking & Entering
location_id,20,18,18,5,20
location_name,Residence/Home,Parking/Drop Lot/Garage,Parking/Drop Lot/Garage,Commercial/Office Building,Residence/Home
county,POTTER,POTTER,POTTER,POTTER,POTTER
officers,343,343,343,343,343
civilians,68,68,68,68,68
crime_cnt,47721,47721,47721,47721,47721
fire_cnt,12,12,12,12,12
hosp_cnt,5,5,5,5,5
bed_cnt,878,878,878,878,878

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463095 entries, 0 to 463094
Data columns (total 16 columns):
incident_id         463095 non-null int64
year                463095 non-null int64
age_num             456081 non-null float64
victim_sex          463095 non-null object
crime_against       463095 non-null object
offense             463095 non-null object
offense_category    463095 non-null object
location_id         463095 non-null int64
location_name       463095 non-null object
county              463095 non-null object
officers            463095 non-null int64
civilians           463095 non-null int64
crime_cnt           463095 non-null int64
fire_cnt            463095 non-null int64
hosp_cnt            461467 non-null float64
bed_cnt             461467 non-null float64
dtypes: float64(3), int64(7), object(6)
memory usage: 56.5+ MB

### Get crime count by county for label_df

In [18]:
tmp_df5 = label_df.groupby(['county']).incident_id.agg('count')
tmp_df5 = tmp_df5.to_frame().reset_index()
tmp_df5 = tmp_df5.rename({'incident_id': 'crime_cnt'}, axis='columns')
tmp_df5

          county  crime_cnt
0           BELL       3348
1          BEXAR        400
2       BRAZORIA       3043
3       BREWSTER         70
4         BURNET        343
5        CALHOUN        772
6        CAMERON          2
7         COLLIN      16937
8        CORYELL        115
9         DALLAS       4417
10       DE WITT        314
11        DENTON      11042
12        GOLIAD        200
13         GREGG       5629
14      HARDEMAN         63
15        HARDIN        387
16        HARRIS       1208
17       HIDALGO        301
18          HUNT        110
19    HUTCHINSON        363
20       JACKSON        315
21     JEFFERSON        180
22       JOHNSON       1372
23       KAUFMAN       2896
24       KENDALL        293
25         LAMAR         91
26      LAMPASAS        150
27        LAVACA        129
28          LEON         37
29       LUBBOCK       1436
30       MADISON         31
31      MCLENNAN       2131
32         MILAM         32
33    MONTGOMERY       3019
34   NACOGDOCHES       2491
35     OCHILTREE         50
36        PARKER       1676
37          POLK        808
38        POTTER      16830
39       RANDALL        104
40      ROCKWALL       1715
41          RUSK       2228
42  SAN PATRICIO        428
43      SAN SABA         49
44        SHELBY         28
45         SMITH       6313
46         STARR         32
47       TARRANT      50111
48     TOM GREEN       9119
49        TRAVIS        490
50      VICTORIA       4920
51        WALKER        869
52       WHARTON        772
53       WICHITA        149
54       WILLACY        116
55    WILLIAMSON       1617
56          WISE        208
57         YOUNG         33
58        ZAVALA        218

### Join to testing dataframe

In [19]:
label_df = label_df.join(tmp_df5.set_index('county'), on='county')

In [20]:
label_df.head().T

,0,1,2,3,4
incident_id,87264241,87264244,87264248,87264256,87264264
year,2016,2016,2016,2016,2016
age_num,59,50,26,25,26
victim_sex,F,M,F,F,M
crime_against,Property,Property,Property,Person,Property
offense,Theft From Motor Vehicle,Credit Card/Automated Teller Machine Fraud,All Other Larceny,Simple Assault,All Other Larceny
offense_category,Larceny/Theft Offenses,Fraud Offenses,Larceny/Theft Offenses,Assault Offenses,Larceny/Theft Offenses
location_id,18,20,20,20,20
location_name,Parking/Drop Lot/Garage,Residence/Home,Residence/Home,Residence/Home,Residence/Home
county,BURNET,BURNET,BURNET,CAMERON,CAMERON
officers,19,19,19,2,2
civilians,13,13,13,0,0
crime_cnt,343,343,343,2,2

### Join hospital and fire station counts to testing dataframe

In [21]:
test_df = label_df.join(hf_df.set_index('county'), on='county')

In [22]:
test_df.head(3).T

,0,1,2
incident_id,87264241,87264244,87264248
year,2016,2016,2016
age_num,59,50,26
victim_sex,F,M,F
crime_against,Property,Property,Property
offense,Theft From Motor Vehicle,Credit Card/Automated Teller Machine Fraud,All Other Larceny
offense_category,Larceny/Theft Offenses,Fraud Offenses,Larceny/Theft Offenses
location_id,18,20,20
location_name,Parking/Drop Lot/Garage,Residence/Home,Residence/Home
county,BURNET,BURNET,BURNET
officers,19,19,19
civilians,13,13,13
crime_cnt,343,343,343
fire_cnt,10,10,10
hosp_cnt,2,2,2
bed_cnt,71,71,71

In [23]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162550 entries, 0 to 162549
Data columns (total 16 columns):
incident_id         162550 non-null int64
year                162550 non-null int64
age_num             160057 non-null float64
victim_sex          162550 non-null object
crime_against       162550 non-null object
offense             162550 non-null object
offense_category    162550 non-null object
location_id         162550 non-null int64
location_name       162550 non-null object
county              162550 non-null object
officers            162550 non-null int64
civilians           162550 non-null int64
crime_cnt           162550 non-null int64
fire_cnt            162550 non-null int64
hosp_cnt            161323 non-null float64
bed_cnt             161323 non-null float64
dtypes: float64(3), int64(7), object(6)
memory usage: 19.8+ MB

### Bring in population feature

In [24]:
pop_df.head()

     county  year  population
0  ANDERSON  2010       58477
1  ANDERSON  2011       58379
2  ANDERSON  2012       58036
3  ANDERSON  2013       57960
4  ANDERSON  2014       57837

In [25]:
pop_df['county'] = pop_df['county'].str.upper()
pop_df.drop_duplicates(['county','year'], inplace=True)

In [26]:
pop_df.head()

     county  year  population
0  ANDERSON  2010       58477
1  ANDERSON  2011       58379
2  ANDERSON  2012       58036
3  ANDERSON  2013       57960
4  ANDERSON  2014       57837

In [27]:
pop_df['population_description'] = pd.cut(pop_df['population'], [0, 25000, 100000, 500000, 10000000],
                                labels=['Under 25,000', '25,000 - 99,999', '100,000 - 499,999','Over 500,000'])

In [28]:
pop_df.head(10)

     county  year  population population_description
0  ANDERSON  2010       58477        25,000 - 99,999
1  ANDERSON  2011       58379        25,000 - 99,999
2  ANDERSON  2012       58036        25,000 - 99,999
3  ANDERSON  2013       57960        25,000 - 99,999
4  ANDERSON  2014       57837        25,000 - 99,999
5  ANDERSON  2015       57641        25,000 - 99,999
6  ANDERSON  2016       57558        25,000 - 99,999
7  ANDERSON  2017       57741        25,000 - 99,999
8   ANDREWS  2010       14817           Under 25,000
9   ANDREWS  2011       15386           Under 25,000

In [29]:
pop_df['population_description'].value_counts()

Under 25,000         1188
25,000 - 99,999       500
100,000 - 499,999     225
Over 500,000           87
Name: population_description, dtype: int64

In [30]:
train_df =pd.merge(train_df, pop_df, how = 'outer', on=['county','year'])
train_df

,incident_id,year,age_num,victim_sex,crime_against,offense,offense_category,location_id,location_name,county,officers,civilians,crime_cnt,fire_cnt,hosp_cnt,bed_cnt,population,population_description
0,67693343.0,2013,46.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
1,67693344.0,2013,57.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
2,67693345.0,2013,51.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
3,67693346.0,2013,24.0,M,Property,All Other Larceny,Larceny/Theft Offenses,5.0,Commercial/Office Building,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
4,67693348.0,2013,49.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
5,67693350.0,2013,26.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
6,67693351.0,2013,44.0,F,Property,All Other Larceny,Larceny/Theft Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
7,67693352.0,2013,62.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
8,67693353.0,2013,18.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
9,67693353.0,2013,51.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
10,67693354.0,2013,36.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
11,67693355.0,2013,68.0,F,Property,Motor Vehicle Theft,Motor Vehicle Theft,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
12,67693357.0,2013,32.0,F,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
13,67693358.0,2013,50.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
14,67693359.0,2013,29.0,M,Person,Aggravated Assault,Assault Offenses,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
15,67693361.0,2013,33.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
16,67693362.0,2013,31.0,F,Person,Simple Assault,Assault Offenses,7.0,Convenience Store,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
17,67693363.0,2013,33.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
18,67693364.0,2013,29.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
19,67693366.0,2013,16.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
20,67693366.0,2013,26.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
21,67693367.0,2013,22.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
22,67693367.0,2013,23.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
23,67693368.0,2013,39.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
24,67693369.0,2013,40.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
25,67693371.0,2013,26.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
26,67693372.0,2013,36.0,M,Property,Destruction/Damage/Vandalism of Property,Destruction/Damage/Vandalism of Property,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
27,67693373.0,2013,34.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
28,67693374.0,2013,34.0,F,Person,Aggravated Assault,Assault Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
29,67693375.0,2013,36.0,M,Person,Aggravated Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464948,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,44356.0,"25,000 - 99,999"
464949,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,45228.0,"25,000 - 99,999"
464950,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,46143.0,"25,000 - 99,999"
464951,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,47162.0,"25,000 - 99,999"
464952,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,48190.0,"25,000 - 99,999"
464953,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,49304.0,"25,000 - 99,999"
464954,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7098.0,"Under 25,000"
464955,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7161.0,"Under 25,000"
464956,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7365.0,"Under 25,000"
464957,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7631.0,"Under 25,000"
464958,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7815.0,"Under 25,000"
464959,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7995.0,"Under 25,000"
464960,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7872.0,"Under 25,000"
464961,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7574.0,"Under 25,000"
464962,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,59119.0,"25,000 - 99,999"
464963,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,59953.0,"25,000 - 99,999"
464964,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,60398.0,"25,000 - 99,999"
464965,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,61008.0,"25,000 - 99,999"
464966,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,61715.0,"25,000 - 99,999"
464967,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,62864.0,"25,000 - 99,999"
464968,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,64465.0,"25,000 - 99,999"
464969,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,66181.0,"25,000 - 99,999"
464970,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,41974.0,"25,000 - 99,999"
464971,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,42140.0,"25,000 - 99,999"
464972,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,42444.0,"25,000 - 99,999"
464973,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,42401.0,"25,000 - 99,999"
464974,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,42818.0,"25,000 - 99,999"
464975,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,43220.0,"25,000 - 99,999"
464976,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,43823.0,"25,000 - 99,999"
464977,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,44314.0,"25,000 - 99,999"

In [31]:
train_df.dropna(axis=0, subset=['incident_id'], inplace=True)

In [32]:
train_df

,incident_id,year,age_num,victim_sex,crime_against,offense,offense_category,location_id,location_name,county,officers,civilians,crime_cnt,fire_cnt,hosp_cnt,bed_cnt,population,population_description
0,67693343.0,2013,46.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
1,67693344.0,2013,57.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
2,67693345.0,2013,51.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
3,67693346.0,2013,24.0,M,Property,All Other Larceny,Larceny/Theft Offenses,5.0,Commercial/Office Building,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
4,67693348.0,2013,49.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
5,67693350.0,2013,26.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
6,67693351.0,2013,44.0,F,Property,All Other Larceny,Larceny/Theft Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
7,67693352.0,2013,62.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
8,67693353.0,2013,18.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
9,67693353.0,2013,51.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
10,67693354.0,2013,36.0,M,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
11,67693355.0,2013,68.0,F,Property,Motor Vehicle Theft,Motor Vehicle Theft,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
12,67693357.0,2013,32.0,F,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
13,67693358.0,2013,50.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
14,67693359.0,2013,29.0,M,Person,Aggravated Assault,Assault Offenses,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
15,67693361.0,2013,33.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
16,67693362.0,2013,31.0,F,Person,Simple Assault,Assault Offenses,7.0,Convenience Store,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
17,67693363.0,2013,33.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
18,67693364.0,2013,29.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
19,67693366.0,2013,16.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
20,67693366.0,2013,26.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
21,67693367.0,2013,22.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
22,67693367.0,2013,23.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
23,67693368.0,2013,39.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
24,67693369.0,2013,40.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
25,67693371.0,2013,26.0,F,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
26,67693372.0,2013,36.0,M,Property,Destruction/Damage/Vandalism of Property,Destruction/Damage/Vandalism of Property,18.0,Parking/Drop Lot/Garage,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
27,67693373.0,2013,34.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
28,67693374.0,2013,34.0,F,Person,Aggravated Assault,Assault Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
29,67693375.0,2013,36.0,M,Person,Aggravated Assault,Assault Offenses,20.0,Residence/Home,POTTER,343.0,68.0,47721.0,12.0,5.0,878.0,122088.0,"100,000 - 499,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463065,89614589.0,2015,18.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,12.0,Grocery/Supermarket,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463066,89614589.0,2015,20.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,12.0,Grocery/Supermarket,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463067,89614589.0,2015,21.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,12.0,Grocery/Supermarket,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463068,89614589.0,2015,23.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,12.0,Grocery/Supermarket,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463069,89614589.0,2015,43.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,12.0,Grocery/Supermarket,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463070,89614690.0,2015,22.0,F,Property,All Other Larceny,Larceny/Theft Offenses,8.0,Department/Discount Store,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463071,89614690.0,2015,22.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,23.0,Service/Gas Station,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463072,89614694.0,2015,19.0,F,Person,Aggravated Assault,Assault Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463073,89614725.0,2015,10.0,M,Person,Aggravated Assault,Assault Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463074,89614765.0,2015,20.0,F,Property,Motor Vehicle Theft,Motor Vehicle Theft,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463075,89614765.0,2015,21.0,M,Property,Motor Vehicle Theft,Motor Vehicle Theft,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463076,89614767.0,2015,45.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463077,89614781.0,2015,59.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,7.0,Convenience Store,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463078,89614858.0,2015,86.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463079,89614872.0,2015,21.0,F,Person,Aggravated Assault,Assault Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463080,89614872.0,2015,NaN,M,Person,Aggravated Assault,Assault Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463081,89614893.0,2015,49.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463082,89614893.0,2015,79.0,M,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463083,89614930.0,2015,18.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463084,89614965.0,2015,55.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,25.0,Other/Unknown,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463085,89614984.0,2015,75.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,25.0,Other/Unknown,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463086,89614990.0,2015,53.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463087,89615066.0,2015,27.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,46.0,Drug Store/Doctor's Office/Hospital,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463088,89615090.0,2015,26.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,8.0,Department/Discount Store,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463089,89615132.0,2015,17.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463090,89615177.0,2015,NaN,M,Property,Counterfeiting/Forgery,Counterfeiting/Forgery,23.0,Service/Gas Station,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463091,89615195.0,2015,24.0,F,Property,Theft From Building,Larceny/Theft Offenses,8.0,Department/Discount Store,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463092,89615218.0,2015,62.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,2.0,Bank/Savings and Loan,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463093,89615312.0,2015,7.0,M,Person,Aggravated Assault,Assault Offenses,4.0,Church/Synagogue/Temple/Mosque,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"
463094,89615489.0,2015,33.0,M,Property,Impersonation,Fraud Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,SMITH,190.0,48.0,19368.0,25.0,5.0,1052.0,222410.0,"100,000 - 499,999"

In [33]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463095 entries, 0 to 463094
Data columns (total 18 columns):
incident_id               463095 non-null float64
year                      463095 non-null int64
age_num                   456081 non-null float64
victim_sex                463095 non-null object
crime_against             463095 non-null object
offense                   463095 non-null object
offense_category          463095 non-null object
location_id               463095 non-null float64
location_name             463095 non-null object
county                    463095 non-null object
officers                  463095 non-null float64
civilians                 463095 non-null float64
crime_cnt                 463095 non-null float64
fire_cnt                  463095 non-null float64
hosp_cnt                  461467 non-null float64
bed_cnt                   461467 non-null float64
population                462307 non-null float64
population_description    462307 non-null category
dtypes: category(1), float64(10), int64(1), object(6)
memory usage: 64.0+ MB

In [34]:
test_df =pd.merge(test_df, pop_df, how = 'outer', on=['county','year'])
test_df

,incident_id,year,age_num,victim_sex,crime_against,offense,offense_category,location_id,location_name,county,officers,civilians,crime_cnt,fire_cnt,hosp_cnt,bed_cnt,population,population_description
0,87264241.0,2016,59.0,F,Property,Theft From Motor Vehicle,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
1,87264244.0,2016,50.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,20.0,Residence/Home,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
2,87264248.0,2016,26.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
3,87264268.0,2016,41.0,M,Person,Simple Assault,Assault Offenses,36.0,Industrial Site,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
4,87264307.0,2016,33.0,M,Property,Destruction/Damage/Vandalism of Property,Destruction/Damage/Vandalism of Property,13.0,Highway/Road/Alley/Street/Sidewalk,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
5,87264319.0,2016,23.0,F,Property,False Pretenses/Swindle/Confidence Game,Fraud Offenses,8.0,Department/Discount Store,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
6,87264341.0,2016,48.0,F,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,14.0,Hotel/Motel/Etc.,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
7,87264368.0,2016,26.0,M,Property,Credit Card/Automated Teller Machine Fraud,Fraud Offenses,8.0,Department/Discount Store,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
8,87264408.0,2016,16.0,F,Person,Simple Assault,Assault Offenses,41.0,School-Elementary/Secondary,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
9,87264412.0,2016,55.0,F,Property,All Other Larceny,Larceny/Theft Offenses,8.0,Department/Discount Store,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
10,87264419.0,2016,79.0,F,Property,False Pretenses/Swindle/Confidence Game,Fraud Offenses,20.0,Residence/Home,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
11,87264420.0,2016,29.0,F,Person,Simple Assault,Assault Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
12,87264457.0,2016,25.0,F,Person,Intimidation,Assault Offenses,18.0,Parking/Drop Lot/Garage,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
13,87264459.0,2016,49.0,M,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
14,87264460.0,2016,24.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
15,87264460.0,2016,25.0,M,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
16,87264461.0,2016,74.0,F,Property,False Pretenses/Swindle/Confidence Game,Fraud Offenses,20.0,Residence/Home,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
17,87264476.0,2016,24.0,F,Person,Simple Assault,Assault Offenses,20.0,Residence/Home,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
18,87264483.0,2016,31.0,M,Property,All Other Larceny,Larceny/Theft Offenses,3.0,Bar/Nightclub,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
19,87264486.0,2016,36.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,13.0,Highway/Road/Alley/Street/Sidewalk,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
20,87264488.0,2016,24.0,F,Person,Intimidation,Assault Offenses,3.0,Bar/Nightclub,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
21,87264488.0,2016,43.0,M,Person,Intimidation,Assault Offenses,3.0,Bar/Nightclub,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
22,87264511.0,2016,20.0,M,Person,Intimidation,Assault Offenses,13.0,Highway/Road/Alley/Street/Sidewalk,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
23,87265075.0,2016,43.0,F,Property,All Other Larceny,Larceny/Theft Offenses,20.0,Residence/Home,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
24,87265156.0,2016,52.0,M,Property,All Other Larceny,Larceny/Theft Offenses,18.0,Parking/Drop Lot/Garage,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
25,87265250.0,2016,54.0,F,Property,All Other Larceny,Larceny/Theft Offenses,24.0,Specialty Store,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
26,87265272.0,2016,41.0,F,Person,Intimidation,Assault Offenses,5.0,Commercial/Office Building,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
27,87265289.0,2016,18.0,M,Property,All Other Larceny,Larceny/Theft Offenses,41.0,School-Elementary/Secondary,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
28,87265332.0,2016,63.0,M,Property,All Other Larceny,Larceny/Theft Offenses,8.0,Department/Discount Store,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
29,87265423.0,2016,20.0,M,Property,Burglary/Breaking & Entering,Burglary/Breaking & Entering,18.0,Parking/Drop Lot/Garage,BURNET,19.0,13.0,343.0,10.0,2.0,71.0,45914.0,"25,000 - 99,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164464,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,43668.0,"25,000 - 99,999"
164465,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,44356.0,"25,000 - 99,999"
164466,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,45228.0,"25,000 - 99,999"
164467,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,46143.0,"25,000 - 99,999"
164468,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,47162.0,"25,000 - 99,999"
164469,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,48190.0,"25,000 - 99,999"
164470,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WILSON,NaN,NaN,NaN,NaN,NaN,NaN,49304.0,"25,000 - 99,999"
164471,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7098.0,"Under 25,000"
164472,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7161.0,"Under 25,000"
164473,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7365.0,"Under 25,000"
164474,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7631.0,"Under 25,000"
164475,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7815.0,"Under 25,000"
164476,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7995.0,"Under 25,000"
164477,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7872.0,"Under 25,000"
164478,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINKLER,NaN,NaN,NaN,NaN,NaN,NaN,7574.0,"Under 25,000"
164479,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,59119.0,"25,000 - 99,999"
164480,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,59953.0,"25,000 - 99,999"
164481,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,60398.0,"25,000 - 99,999"
164482,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,61008.0,"25,000 - 99,999"
164483,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,61715.0,"25,000 - 99,999"
164484,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,62864.0,"25,000 - 99,999"
164485,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WISE,NaN,NaN,NaN,NaN,NaN,NaN,66181.0,"25,000 - 99,999"
164486,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,41974.0,"25,000 - 99,999"
164487,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,42140.0,"25,000 - 99,999"
164488,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,42444.0,"25,000 - 99,999"
164489,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,42401.0,"25,000 - 99,999"
164490,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,42818.0,"25,000 - 99,999"
164491,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,43220.0,"25,000 - 99,999"
164492,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,43823.0,"25,000 - 99,999"
164493,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WOOD,NaN,NaN,NaN,NaN,NaN,NaN,44314.0,"25,000 - 99,999"

In [35]:
test_df.dropna(axis=0, subset=['incident_id'], inplace=True)

In [36]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162550 entries, 0 to 162549
Data columns (total 18 columns):
incident_id               162550 non-null float64
year                      162550 non-null int64
age_num                   160057 non-null float64
victim_sex                162550 non-null object
crime_against             162550 non-null object
offense                   162550 non-null object
offense_category          162550 non-null object
location_id               162550 non-null float64
location_name             162550 non-null object
county                    162550 non-null object
officers                  162550 non-null float64
civilians                 162550 non-null float64
crime_cnt                 162550 non-null float64
fire_cnt                  162550 non-null float64
hosp_cnt                  161323 non-null float64
bed_cnt                   161323 non-null float64
population                161985 non-null float64
population_description    161985 non-null category
dtypes: category(1), float64(10), int64(1), object(6)
memory usage: 22.5+ MB

## Pass training and testing dataframes through feature engineering script

In [37]:
from Scripts.Features_Script_Train_and_Test import feature_engineering

trn_df, tst_df = feature_engineering(train_df, test_df)

/home/kendal/Desktop/KH_Capstone/Scripts/Features_Script_Train_and_Test.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train_df['crime_pop_ratio'] = train_df['crime_cnt'] / train_df['population']
/home/kendal/Desktop/KH_Capstone/Scripts/Features_Script_Train_and_Test.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train_df['beds_pop_ratio'] = train_df['bed_cnt'] / train_df['population']
/home/kendal/Desktop/KH_Capstone/Scripts/Features_Script_Train_and_Test.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train_df['beds_crime_ratio'] = train_df['bed_cnt'] / train_df['crime_cnt']
/home/kendal/Desktop/KH_Capstone/Scripts/Features_Script_Train_and_Test.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train_df['fire_pop_ratio'] = train_df['fire_cnt'] / train_df['population']
/home/kendal/Desktop/KH_Capstone/Scripts/Features_Script_Train_and_Test.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train_df['fire_crime_ratio'] = train_df['fire_cnt'] / train_df['crime_cnt']

In [38]:
train_df.offense_category.value_counts()

Larceny/Theft Offenses                      145426
Assault Offenses                            117980
Destruction/Damage/Vandalism of Property     55336
Burglary/Breaking & Entering                 52531
Fraud Offenses                               33826
Motor Vehicle Theft                          18010
Robbery                                       8766
Sex Offenses                                  8518
Counterfeiting/Forgery                        4900
Drug/Narcotic Offenses                        4682
Kidnapping/Abduction                          1878
Weapon Law Violations                          889
Arson                                          628
Homicide Offenses                              427
Stolen Property Offenses                       387
Embezzlement                                   188
Extortion/Blackmail                             49
Pornography/Obscene Material                    45
Prostitution Offenses                           21
Human Trafficking                               18
Bribery                                         17
Gambling Offenses                                1
Name: offense_category, dtype: int64

In [39]:
test_df.offense_category.value_counts()

Larceny/Theft Offenses                      50292
Assault Offenses                            43556
Destruction/Damage/Vandalism of Property    19031
Burglary/Breaking & Entering                15738
Fraud Offenses                              11834
Motor Vehicle Theft                          6774
Robbery                                      3195
Sex Offenses                                 2915
Counterfeiting/Forgery                       1858
Drug/Narcotic Offenses                       1685
Kidnapping/Abduction                          807
Weapon Law Violations                         420
Arson                                         218
Stolen Property Offenses                      192
Homicide Offenses                             163
Embezzlement                                   66
Extortion/Blackmail                            41
Pornography/Obscene Material                   36
Human Trafficking                              18
Prostitution Offenses                           5
Bribery                                         3
Name: offense_category, dtype: int64

### Do the feature engineering manually in jupyter

In [40]:
# Drop NA in victim age column (<2%)
train_df.dropna(axis=0, subset=['age_num'], inplace=True)

# Drop NA in hospital_cnt column (<2%)
train_df.dropna(axis=0, subset=['hosp_cnt'], inplace=True)

# Drop NA in population column (<2%)
train_df.dropna(axis=0, subset=['population'], inplace=True)

# Drop offense_category_Gambling Offenses
train_df = train_df[train_df.offense_category != 'Gambling Offenses']

# Create Ratio Columns
train_df['crime_pop_ratio'] = train_df['crime_cnt'] / train_df['population']
train_df['beds_pop_ratio'] = train_df['bed_cnt'] / train_df['population']
train_df['beds_crime_ratio'] = train_df['bed_cnt'] / train_df['crime_cnt']
train_df['fire_pop_ratio'] = train_df['fire_cnt'] / train_df['population']
train_df['fire_crime_ratio'] = train_df['fire_cnt'] / train_df['crime_cnt']

# Reduce df to only desired features to train/test model
train_df = train_df[['age_num', 'victim_sex', 'offense_category', 'population_description',
                     'officers', 'civilians', 'crime_pop_ratio', 'beds_pop_ratio', 'beds_crime_ratio',
                     'fire_pop_ratio', 'fire_crime_ratio', 'county']]

# Dummize features
train_df = pd.get_dummies(train_df, columns=['victim_sex', 'offense_category', 'population_description'])

/home/kendal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/kendal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/kendal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/kendal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/kendal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
# Drop NA in victim age column (<2%)
test_df.dropna(axis=0, subset=['age_num'], inplace=True)

# Drop NA in hospital_cnt column (<2%)
test_df.dropna(axis=0, subset=['hosp_cnt'], inplace=True)

# Drop NA in population column (<2%)
test_df.dropna(axis=0, subset=['population'], inplace=True)

# Create Ratio Columns
test_df['crime_pop_ratio'] = test_df['crime_cnt'] / test_df['population']
test_df['beds_pop_ratio'] = test_df['bed_cnt'] / test_df['population']
test_df['beds_crime_ratio'] = test_df['bed_cnt'] / test_df['crime_cnt']
test_df['fire_pop_ratio'] = test_df['fire_cnt'] / test_df['population']
test_df['fire_crime_ratio'] = test_df['fire_cnt'] / test_df['crime_cnt']

# Reduce df to only desired features to train/test model
test_df = test_df[['age_num', 'victim_sex', 'offense_category', 'population_description',
                     'officers', 'civilians', 'crime_pop_ratio', 'beds_pop_ratio', 'beds_crime_ratio',
                     'fire_pop_ratio', 'fire_crime_ratio', 'county']]

# Dummize features
test_df = pd.get_dummies(test_df, columns=['victim_sex', 'offense_category', 'population_description'])

### Confirm script and manual produce identical results

In [42]:
train_df.equals(trn_df)

True

In [43]:
test_df.equals(tst_df)

True

### Split data into training and testing sets

In [44]:
y_train = trn_df.pop('county').values
X_train = trn_df.values
y_test = tst_df.pop('county').values
X_test = tst_df.values

### Confirm shapes match

In [45]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (454522, 36)
Training Labels Shape: (454522,)
Testing Features Shape: (158847, 36)
Testing Labels Shape: (158847,)

## Random Forest Classifier

In [46]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

/home/kendal/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Train Model

In [47]:
clf = RandomForestClassifier(oob_score=True, n_estimators=50, max_depth=10, min_samples_split=2)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=1,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

### Get Predictions

In [48]:
preds = clf.predict(X_test)
proba_preds = clf.predict_proba(X_test)

### Calculate Scores

In [49]:
# calculate scores
precision_micro = precision_score(y_test, preds, average = 'micro')
precision_weighted = precision_score(y_test, preds, average = 'weighted')

recall_micro = recall_score(y_test, preds, average = 'micro')
recall_weighted = recall_score(y_test, preds, average = 'weighted')

F_1_micro = 2 / ((1/precision_micro) + (1/recall_micro))
F_1_weighted = 2 / ((1/precision_weighted) + (1/recall_weighted))

score = clf.score(X_test, y_test)
oob=clf.oob_score_
acc = accuracy_score(y_test, preds)


print('Precision Scores:', precision_micro, precision_weighted)
print('Recall Scores:', recall_micro, recall_weighted)
print('F 1 Scores:', F_1_micro, F_1_weighted)
print('Score:', score)
print('oob Score:', oob)
print('Accuracy Score:', acc)

/home/kendal/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/kendal/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

Precision Scores: 0.8654176660560162 0.8512331276868459
Recall Scores: 0.8654176660560162 0.8654176660560162
F 1 Scores: 0.8654176660560162 0.8582667940590596
Score: 0.8654176660560162
oob Score: 0.9997865889879918
Accuracy Score: 0.8654176660560162

### Feature Importances

In [50]:
import operator
feats = {} # a dict to hold feature_name: feature_importance
for feature, importance in zip(trn_df.columns, clf.feature_importances_):
    feats[feature] = importance
feats = sorted(feats.items(), key = operator.itemgetter(1), reverse=True)
feats

[('fire_crime_ratio', 0.1710038900924333),
 ('officers', 0.1617140981623154),
 ('crime_pop_ratio', 0.138223378531921),
 ('beds_pop_ratio', 0.11553927643158073),
 ('civilians', 0.10504486236968164),
 ('fire_pop_ratio', 0.10340217537894413),
 ('beds_crime_ratio', 0.10161207673931949),
 ('population_description_Over 500,000', 0.0505020332370935),
 ('population_description_100,000 - 499,999', 0.03392344830555656),
 ('population_description_25,000 - 99,999', 0.01600890499868405),
 ('population_description_Under 25,000', 0.0019378435432102026),
 ('offense_category_Fraud Offenses', 0.00028568421501627895),
 ('age_num', 0.00027914630668387575),
 ('offense_category_Burglary/Breaking & Entering', 0.00010109489291724609),
 ('offense_category_Assault Offenses', 8.794965718283851e-05),
 ('offense_category_Kidnapping/Abduction', 8.370520211592229e-05),
 ('offense_category_Destruction/Damage/Vandalism of Property',
  7.046665455738392e-05),
 ('offense_category_Larceny/Theft Offenses', 4.890223162748108e-05),
 ('offense_category_Robbery', 4.744165486285102e-05),
 ('offense_category_Counterfeiting/Forgery', 1.4287851834072119e-05),
 ('offense_category_Motor Vehicle Theft', 1.4067304818618476e-05),
 ('victim_sex_M', 1.3891655401176164e-05),
 ('offense_category_Drug/Narcotic Offenses', 1.1088961585690237e-05),
 ('offense_category_Stolen Property Offenses', 9.693789195208064e-06),
 ('victim_sex_F', 8.029583463651245e-06),
 ('offense_category_Sex Offenses', 5.991490227547708e-06),
 ('offense_category_Weapon Law Violations', 2.655193962376246e-06),
 ('victim_sex_U', 2.1714721563081803e-06),
 ('offense_category_Arson', 7.287332679849394e-07),
 ('offense_category_Pornography/Obscene Material', 4.665747891712319e-07),
 ('offense_category_Homicide Offenses', 3.3512473715921147e-07),
 ('offense_category_Embezzlement', 1.303479043498399e-07),
 ('offense_category_Extortion/Blackmail', 8.331095280143978e-08),
 ('offense_category_Bribery', 0.0),
 ('offense_category_Human Trafficking', 0.0),
 ('offense_category_Prostitution Offenses', 0.0)]

In [51]:
proba_preds[3]

array([8.07011965e-03, 1.66251039e-05, 0.00000000e+00, 1.10929575e-03,
       1.98678121e-01, 8.85964297e-03, 1.71323029e-05, 1.87488912e-01,
       9.06792120e-03, 8.20384935e-03, 0.00000000e+00, 3.12966856e-02,
       0.00000000e+00, 3.22062372e-04, 7.86303307e-02, 1.83771341e-03,
       1.01763098e-04, 4.92775969e-02, 1.24758319e-02, 1.26732775e-02,
       3.23479016e-03, 1.08951253e-02, 1.14549974e-02, 4.98526413e-03,
       2.83390062e-02, 4.27359844e-04, 3.40505130e-02, 6.62455349e-02,
       1.04547463e-02, 3.07117564e-02, 2.44981156e-02, 0.00000000e+00,
       2.77070541e-02, 5.37960224e-02, 1.55475749e-03, 0.00000000e+00,
       0.00000000e+00, 5.50164564e-03, 0.00000000e+00, 3.69817572e-02,
       9.85283792e-03, 3.11818354e-02])

In [52]:
preds[3]

'BURNET'

In [53]:
y_test[3]

'BURNET'

In [54]:
print(preds[0])
print(proba_preds[0])
print(clf.classes_)

BURNET
[8.07011965e-03 1.66251039e-05 0.00000000e+00 1.18079853e-03
 2.04985221e-01 6.67652756e-03 1.71323029e-05 1.25961256e-01
 9.06792120e-03 1.45804808e-02 1.69670603e-03 5.10687218e-02
 0.00000000e+00 4.43154234e-04 7.73467592e-02 3.43187127e-03
 1.11085659e-04 4.09236182e-02 1.17884347e-02 1.26732775e-02
 9.75221208e-03 1.26961214e-02 1.34647438e-02 4.98526413e-03
 3.50758483e-02 2.22716847e-03 3.41029301e-02 2.98401775e-02
 9.45436643e-03 3.92810225e-02 3.37720764e-02 0.00000000e+00
 3.47639527e-02 6.00968682e-02 1.55475749e-03 0.00000000e+00
 0.00000000e+00 1.12071195e-02 1.35770982e-02 2.73400434e-02
 1.36955641e-02 4.30729551e-02]
['BELL' 'BEXAR' 'BRAZORIA' 'BREWSTER' 'BURNET' 'CALHOUN' 'CAMERON'
 'CHEROKEE' 'COLLIN' 'DALLAS' 'DENTON' 'GRAYSON' 'GREGG' 'HARDEMAN'
 'HARDIN' 'HARRIS' 'HIDALGO' 'HUNT' 'JACKSON' 'JOHNSON' 'KAUFMAN' 'LAVACA'
 'LLANO' 'LUBBOCK' 'MCLENNAN' 'MILAM' 'MONTGOMERY' 'NACOGDOCHES' 'NOLAN'
 'PARKER' 'POLK' 'POTTER' 'ROCKWALL' 'RUSK' 'SMITH' 'TARRANT' 'TOM GREEN'
 'TRAVIS' 'VICTORIA' 'WHARTON' 'WICHITA' 'WILLIAMSON']

In [55]:
results_df = pd.DataFrame(proba_preds, columns = clf.classes_)

In [56]:
results_df.head()

,BELL,BEXAR,BRAZORIA,BREWSTER,BURNET,CALHOUN,CAMERON,CHEROKEE,COLLIN,DALLAS,...,ROCKWALL,RUSK,SMITH,TARRANT,TOM GREEN,TRAVIS,VICTORIA,WHARTON,WICHITA,WILLIAMSON
0,0.008070,0.000017,0.000000,0.001181,0.204985,0.006677,0.000017,0.125961,0.009068,0.014580,...,0.034764,0.060097,0.001555,0.0,0.0,0.011207,0.013577,0.027340,0.013696,0.043073
1,0.017145,0.000017,0.011051,0.001573,0.166100,0.002280,0.000014,0.143329,0.009068,0.008204,...,0.031065,0.039556,0.003211,0.0,0.0,0.006897,0.013577,0.040340,0.012999,0.039532
2,0.008070,0.000000,0.000000,0.001229,0.205523,0.008264,0.000015,0.125290,0.009068,0.006377,...,0.034764,0.043858,0.002148,0.0,0.0,0.010850,0.013577,0.022654,0.012602,0.043796
3,0.008070,0.000017,0.000000,0.001109,0.198678,0.008860,0.000017,0.187489,0.009068,0.008204,...,0.027707,0.053796,0.001555,0.0,0.0,0.005502,0.000000,0.036982,0.009853,0.031182
4,0.008070,0.000000,0.000000,0.000986,0.182853,0.012019,0.000011,0.159833,0.009770,0.013135,...,0.036286,0.037557,0.000923,0.0,0.0,0.007370,0.013577,0.035490,0.010620,0.021749

In [57]:
results_df['Predictions'] = preds

In [58]:
results_df.head().T

                       0            1            2            3            4
BELL          0.00807012    0.0171446   0.00807012   0.00807012   0.00807012
BEXAR        1.66251e-05  1.66251e-05            0  1.66251e-05            0
BRAZORIA               0    0.0110514            0            0            0
BREWSTER       0.0011808    0.0015731   0.00122871    0.0011093  0.000985543
BURNET          0.204985       0.1661     0.205523     0.198678     0.182853
CALHOUN       0.00667653   0.00227969   0.00826365   0.00885964    0.0120189
CAMERON      1.71323e-05  1.42363e-05  1.45746e-05  1.71323e-05  1.05626e-05
CHEROKEE        0.125961     0.143329      0.12529     0.187489     0.159833
COLLIN        0.00906792   0.00906792   0.00906792   0.00906792   0.00977018
DALLAS         0.0145805   0.00820385   0.00637663   0.00820385    0.0131351
DENTON        0.00169671            0   0.00169671            0            0
GRAYSON        0.0510687    0.0344256    0.0499025    0.0312967    0.0346545
GREGG                  0            0            0            0            0
HARDEMAN     0.000443154  0.000131694  0.000500844  0.000322062  0.000338658
HARDIN         0.0773468    0.0878101    0.0811512    0.0786303     0.077919
HARRIS        0.00343187   0.00183771   0.00159416   0.00183771            0
HIDALGO      0.000111086  0.000101763  0.000103413  0.000101763    9.409e-05
HUNT           0.0409236    0.0786474    0.0652191    0.0492776    0.0698406
JACKSON        0.0117884   0.00714902    0.0125265    0.0124758    0.0134185
JOHNSON        0.0126733   0.00657505    0.0183956    0.0126733    0.0126733
KAUFMAN       0.00975221   0.00267477   0.00975221   0.00323479   0.00323479
LAVACA         0.0126961    0.0115027    0.0125346    0.0108951    0.0102163
LLANO          0.0134647    0.0112608    0.0135148     0.011455    0.0130352
LUBBOCK       0.00498526   0.00317878   0.00498526   0.00498526   0.00202416
MCLENNAN       0.0350758    0.0274024    0.0288003     0.028339    0.0394344
MILAM         0.00222717   0.00164806   0.00222308   0.00042736   0.00102792
MONTGOMERY     0.0341029    0.0375617    0.0424309    0.0340505    0.0290307
NACOGDOCHES    0.0298402     0.059648    0.0388154    0.0662455    0.0575306
NOLAN         0.00945437   0.00800363    0.0105223    0.0104547   0.00793201
PARKER          0.039281    0.0367652     0.033851    0.0307118    0.0407004
POLK           0.0337721    0.0377185    0.0233967    0.0244981    0.0366462
POTTER                 0            0            0            0            0
ROCKWALL        0.034764    0.0310648     0.034764    0.0277071    0.0362865
RUSK           0.0600969    0.0395563    0.0438581     0.053796    0.0375573
SMITH         0.00155476   0.00321081   0.00214832   0.00155476  0.000923004
TARRANT                0            0            0            0            0
TOM GREEN              0            0            0            0            0
TRAVIS         0.0112071   0.00689722    0.0108496   0.00550165   0.00737006
VICTORIA       0.0135771    0.0135771    0.0135771            0    0.0135771
WHARTON          0.02734    0.0403398    0.0226536    0.0369818    0.0354901
WICHITA        0.0136956    0.0129986    0.0126018   0.00985284    0.0106197
WILLIAMSON      0.043073     0.039532    0.0437961    0.0311818    0.0217488
Predictions       BURNET       BURNET       BURNET       BURNET       BURNET

In [59]:
results_df['Actual'] = y_test

In [60]:
results_df.head(10).T

,0,1,2,3,4,5,6,7,8,9
BELL,0.00807012,0.0171446,0.00807012,0.00807012,0.00807012,0.0185157,0.0185157,0.0171446,0.00807012,0.00807012
BEXAR,1.66251e-05,1.66251e-05,0,1.66251e-05,0,0,1.66251e-05,0,0.000132504,1.66251e-05
BRAZORIA,0,0.0110514,0,0,0,0.0110514,0.0110514,0.0110514,0,0
BREWSTER,0.0011808,0.0015731,0.00122871,0.0011093,0.000985543,0.00173221,0.00174812,0.00155719,0.00126841,0.0011808
BURNET,0.204985,0.1661,0.205523,0.198678,0.182853,0.185262,0.183188,0.168924,0.225463,0.204985
CALHOUN,0.00667653,0.00227969,0.00826365,0.00885964,0.0120189,0.00227969,0.00227969,0.00227969,0.00885964,0.00667653
CAMERON,1.71323e-05,1.42363e-05,1.45746e-05,1.71323e-05,1.05626e-05,1.16786e-05,1.42363e-05,1.16786e-05,1.45746e-05,1.71323e-05
CHEROKEE,0.125961,0.143329,0.12529,0.187489,0.159833,0.12167,0.12313,0.141869,0.153931,0.125961
COLLIN,0.00906792,0.00906792,0.00906792,0.00906792,0.00977018,0.00906792,0.00906792,0.00906792,0.00906792,0.00906792
DALLAS,0.0145805,0.00820385,0.00637663,0.00820385,0.0131351,0,0.00820385,0,0.00594258,0.0145805
DENTON,0.00169671,0,0.00169671,0,0,0,0,0,0,0.00169671
GRAYSON,0.0510687,0.0344256,0.0499025,0.0312967,0.0346545,0.0442116,0.0461574,0.0324798,0.0408106,0.0510687
GREGG,0,0,0,0,0,0,0,0,0,0
HARDEMAN,0.000443154,0.000131694,0.000500844,0.000322062,0.000338658,0.000238416,0.000211249,0.000158862,0.000428785,0.000443154
HARDIN,0.0773468,0.0878101,0.0811512,0.0786303,0.077919,0.0911895,0.0899356,0.0892403,0.0754779,0.0773468
HARRIS,0.00343187,0.00183771,0.00159416,0.00183771,0,0,0.00183771,0,0.00164224,0.00343187
HIDALGO,0.000111086,0.000101763,0.000103413,0.000101763,9.409e-05,9.409e-05,0.000101763,9.409e-05,9.81052e-05,0.000111086
HUNT,0.0409236,0.0786474,0.0652191,0.0492776,0.0698406,0.100018,0.0766951,0.10197,0.06935,0.0409236
JACKSON,0.0117884,0.00714902,0.0125265,0.0124758,0.0134185,0.00876663,0.00876663,0.00714902,0.0144588,0.0117884
JOHNSON,0.0126733,0.00657505,0.0183956,0.0126733,0.0126733,0.01019,0.00446765,0.0122974,0.0183956,0.0126733
KAUFMAN,0.00975221,0.00267477,0.00975221,0.00323479,0.00323479,0,0,0.00267477,0.00323479,0.00975221
LAVACA,0.0126961,0.0115027,0.0125346,0.0108951,0.0102163,0.0132204,0.0136733,0.0110499,0.0127172,0.0126961
LLANO,0.0134647,0.0112608,0.0135148,0.011455,0.0130352,0.0115107,0.0117381,0.0110334,0.0117531,0.0134647
LUBBOCK,0.00498526,0.00317878,0.00498526,0.00498526,0.00202416,0.00389483,0.00389483,0.00317878,0.00498526,0.00498526
MCLENNAN,0.0350758,0.0274024,0.0288003,0.028339,0.0394344,0.0246404,0.0292542,0.0227885,0.0220634,0.0350758
MILAM,0.00222717,0.00164806,0.00222308,0.00042736,0.00102792,0.00268283,0.00270356,0.00162733,0.00146212,0.00222717
MONTGOMERY,0.0341029,0.0375617,0.0424309,0.0340505,0.0290307,0.0474241,0.0390962,0.0458897,0.044884,0.0341029
NACOGDOCHES,0.0298402,0.059648,0.0388154,0.0662455,0.0575306,0.0475802,0.0436243,0.063604,0.0583651,0.0298402
NOLAN,0.00945437,0.00800363,0.0105223,0.0104547,0.00793201,0.0106135,0.0102365,0.00838069,0.0134099,0.00945437
PARKER,0.039281,0.0367652,0.033851,0.0307118,0.0407004,0.0292776,0.0343944,0.0316484,0.0242995,0.039281
POLK,0.0337721,0.0377185,0.0233967,0.0244981,0.0366462,0.0215026,0.0351105,0.0231845,0.0147223,0.0337721
POTTER,0,0,0,0,0,0,0,0,0,0
ROCKWALL,0.034764,0.0310648,0.034764,0.0277071,0.0362865,0.0337644,0.0337644,0.0310648,0.0346553,0.034764
RUSK,0.0600969,0.0395563,0.0438581,0.053796,0.0375573,0.0243647,0.0384418,0.0254792,0.043346,0.0600969
SMITH,0.00155476,0.00321081,0.00214832,0.00155476,0.000923004,0.00380438,0.00321081,0.00380438,0.0027988,0.00155476
TARRANT,0,0,0,0,0,0,0,0,0,0
TOM GREEN,0,0,0,0,0,0,0,0,0,0
TRAVIS,0.0112071,0.00689722,0.0108496,0.00550165,0.00737006,0.00843306,0.00879062,0.00653967,0.00723022,0.0112071
VICTORIA,0.0135771,0.0135771,0.0135771,0,0.0135771,0.0277364,0.0135771,0.0277364,0,0.0135771
WHARTON,0.02734,0.0403398,0.0226536,0.0369818,0.0354901,0.0257766,0.0334748,0.0326416,0.024179,0.02734
WICHITA,0.0136956,0.0129986,0.0126018,0.00985284,0.0106197,0.0144788,0.0153525,0.0121249,0.0105771,0.0136956
WILLIAMSON,0.043073,0.039532,0.0437961,0.0311818,0.0217488,0.0449959,0.0442727,0.0402552,0.031905,0.043073
Predictions,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET
Actual,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET,BURNET

In [61]:
results_df.to_csv('Intelligent_Model_Results.csv')

In [69]:
test = results_df.iloc[[0]]

In [74]:
test = test.pop('Predictions')
test = test.pop('Actual')

KeyError: 'Actual'

In [75]:
test = test.T.sort_values(test.index[-1], ascending=False).T